{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<style>
  .help-block {
    color: red;
  }
</style>

<div class="container">

  <div class="row justify-content-center pt-3">
    <div class="col-md-12 text-center">
      <h2>Reporte uma Falha!</h2>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-5 text-center">
      <h1><i class="fas fa-comments fa-lg"></i></h1>
      <p class="text-justify">Encontrou alguma falha no site e gostaria de reportá-la?
        Entre em contato conosco preenchendo o formulário a seguir e nos ajude a melhorar ainda mais o site para você
        e outros usuários!
      </p>
    </div>
    <div class="col-md-5">
      <form method="POST" action="/bug-report" , enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.autor) }}
        {{ wtf.form_field(form.contato) }}
        {{ wtf.form_field(form.falha) }}
        {{ wtf.form_field(form.outra_falha) }}
        {{ wtf.form_field(form.titulo) }}
        {{ wtf.form_field(form.descricao) }}
        {{ wtf.form_field(form.impacto) }}
        {{ wtf.form_field(form.anexo) }}
        {{ wtf.form_field(form.recaptcha) }}
        <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>
      </form>
    </div>
  </div>

  <div class="row justify-content-center pt-3">
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
    </div>
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
    </div>
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

<script>
  $(document).ready(function () {
    $('label[for="outra_falha"]').hide();
    $("#outra_falha").hide();
  });

  $("#falha").change(
    function () {
      if (this.value == 8) {
        $("label[for='outra_falha']").show();
        $("#outra_falha").show();
      } else {
        $('label[for="outra_falha"]').hide();
        $("#outra_falha").hide();
      }
    }
  );

</script>
{% endblock %}