{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="row justify-content-center pt-4">

    <div class="col-md-12 text-center">
      <h2>Contato</h2>
      {% if enviado %}
      <h5>Enviado</h5>
      {% endif %}
    </div>

    <div class="row justify-content-around pt-3">
      <div class="col-md-5 text-center">
        <h1 class="display-4"><i class="fas fa-comments"></i></h1>
        <p class="text-justify"> Tem alguma dúvida, sugestão, elogio, crítica?
          Ou quer apenas deixar um recado para a SECOMP?
          Entre em contato com a organização preenchendo o campo ao lado!
        </p>
      </div>
      <div class="col-md-5">
        <form method="POST" action="/contato">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.nome_completo) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.mensagem) }}
          {{ wtf.form_field(form.recaptcha) }}
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row justify-content-center pt-3">
      <div class="col-sm-3 align-self-center">
        <img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
      </div>
      <div class="col-sm-3 align-self-center">
        <img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
      </div>
      <div class="col-sm-3 align-self-center">
        <img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
      </div>
    </div>
  </div>
</div>
{% endblock %}