{% extends "base.html" %}

{% block content %}

<div class="container pt-4">
  <div class="col-md-12 text-center">
    <h2>Descontos para participantes da X SECOMP</h2>
  </div>
</div>

<div class="container pt-3 pb-3">

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/yokonno_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Yo Konno Temakeria</h3>
      <h5>Consumo acima de 30,00 ganha uma sobremesa ou hossomakis de salmão</h5>
      <h6>(com apresentação do crachá)</h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/japa_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Japa Açaí</h3>
      <h5>10% de desconto para os participantes nos dias do evento</h5>
      <h6>(com apresentação do crachá)</h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/dogrego_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">DoGrego Foodtruck</h3>
      <h5>10% nos produtos para os participantes nos dias do evento</h5>
      <h6>(com apresentação do crachá)</h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/jamaica_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Jamaica Foodtruck</h3>
      <h5>X SECOMP em 3 tipos de hambúrgueres artesanais (carne, frango e vegano)</h5>
      <h6>Preço padrão: R$ 24,90</h6>
      <h6>Apresentando Cracha do kit: 15,00 sem batata ou 19,90 com uma porção pequena de batata </h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/seu_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Seu burguer</h3>
      <h5>5% de desconto para os participantes nos dias do evento</h5>
      <h6>(com apresentação do crachá)</h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/subway_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Subway</h3>
      <h4>Subway em dobro</h4>
      <h5>Válido para as unidades: Avenida São Carlos, Shopping Iguatemi e Havan</h5>
      <h6>(com apresentação do crachá)</h6>
    </div>
  </div>

  <div class="row text-center justify-content-center align-items-center mt-4">
    <div class="col-md-2 text-center">
      <img class="img-fluid mb-2"
        src="{{ url_for('views.uploads', filename='logo_patrocinadores/nerd_colorida.png') }}">
    </div>
    <div class="col-md-8">
      <h3 class="pt-2 pb-2">Nerd Stickers</h3>
      <h5>Cupom de 10% de desconto para os participantes: Secomp10%</h5>
      <h6><a href="https://www.nerdstickers.com.br/" target="_blank">Acesse o site</a></h6>
    </div>
  </div>

</div>


<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-md-12 text-center">
      <h4>Realização</h4>
    </div>
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
    </div>
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
    </div>
    <div class="col-sm-3 align-self-center">
      <img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
    </div>
  </div>
</div>


{% endblock %}
