{% extends "base.html" %}

{% block content %}

<style>
        .li {
           font-size: 19px;
           font-family: Helvética;
        }
        .ul {
           font-size: 17px;
           padding-bottom: 18px;
           
        }
        .img {
            height: 80px;
            width:80px;
        }
    </style>

<div class="container text-center  pt-3 pb-3 mt-3 mb-3">
        <h2 style="font-family: Arial Narrow">Descontos para os participantes da SECOMP X</h2>
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
                <ul>
                        <li class="li">Yo Konno Temakeria</li>
                          <ul class="ul">
                            <li>Consumo acima de 30,00 ganha uma sobremesa ou hossomakis de salmão. (com apresentação do crachá)</li>
                          </ul>
                          <li class="li">Japa Açaí</li>
                          <ul class="ul">
                            <li>10% de desconto para os participantes nos dias do evento. (com apresentação do crachá)</li>
                          </ul>
                          <li class="li">DoGrego Foodtruck</li>
                          <ul class="ul">
                            <li>10% nos produtos para os participantes nos dias do evento . (com apresentação do crachá)</li>
                          </ul>
                          <li class="li">Jamaica Foodtruck</li>
                          <ul class="ul">
                            <li>X SECOMP em 3 tipos de hambúrgueres artesanais (carne, frango e vegano). <br>
                                Preço padrão: R$ 24,90 <br>
                                Apresentando Cracha do kit: 15,00 sem batata  ou 19,90 com uma porção pequena de batata</li>
                          </ul>
                          <li class="li"> <img class="img"
                            src="{{url_for('static', filename='images/testeseuburguer.png')}}">Seu burguer</li>
                          <ul class="ul">
                            <li>5% de desconto para os participantes nos dias do evento. (com apresentação do crachá)</li>
                          </ul>
                          <li class="li">Subway</li>
                          <ul class="ul">
                            <li>Subway em dobro. <br>Válido para as unidades: Avenida São Carlos, Shopping Iguatemi e Havan. (com apresentação do crachá)</li>
                          </ul>
                          <li class="li">Nerdstickers</li>
                          <ul class="ul">
                            <li>Cupom de 10% de desconto para os participantes: Secomp10%.</li>
                          </ul>
                        
                </ul> 
        </div>
    </div>

</div>


<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-md-12 text-center">
			<h4>Realização</h4>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>


{% endblock %}