{% extends "base.html" %}

{% block content %}

<section id="team" class="pad-inicio pb-5">
    <div class="container">
        {% for array in data %}
        <h2 class="section-title text-center pb-4">{{ array }}</h2>
        <div class="row justify-content-center">
			{% for membro in data[array] %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="image-flip">
                    <div class="mainflip">

                        <div class="frontside">
                            {% if loop.index == 1 or array == 'Coordenação Geral' %}
                            <div class="card border-info">
                            {% else %}
                            <div class="card">
                            {% endif %}
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="{{ url_for('static', filename='images/equipe/%s' % data[array][membro]['img']) }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{ membro }}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="backside">
                            {% if loop.index == 1 or array == 'Coordenação Geral' %}
                            <div class="card border-info bg-dark text-white">
                            {% else %}
                            <div class="card">
                            {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ membro }}</h5>
                                    <!--<p>{{ data[array][membro]['bio'] }}</p>-->
                                    <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
                                    {% if data[array][membro]['email'] %}
                                    <a href="mailto:{{ data[array][membro]['email'] }}"><i class="fa fa-lg fa-envelope"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% endfor %}
		</div>
        {% endfor %}
    </div>
</section>
{% endblock %}
