{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link href="{{ url_for('static', filename='css/equipe.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}

<div class="container">
    {% for diretoria in data %}
        <h2 class="section-title text-center pt-4">{{ diretoria[0] }}</h2>
        <div class="row justify-content-center pb-3 pt-3">
            {% for membro in diretoria[1] %}
                    <div class="pb-3 pl-2 pr-2">
                        {% if diretoria[0] == 'Coordenação Geral' or membro[3].nome == 'Diretor' or membro[3].nome == 'Diretora' %}
                        <div onmouseover="showBackside(id)" onmouseout="showFrontside(id)" class="card diretor text-center" style="width: 18rem; height: 17rem;">
                        {% else %}
                        <div onmouseover="showBackside(id)" onmouseout="showFrontside(id)" class="card text-center" style="width: 18rem; height: 17rem;">
                        {% endif %}
                            <div class="card-body">
                                <img class="rounded-circle img-equipe mb-3" src="{{ url_for('static', filename='images/equipe/'+membro[0].foto) }}" alt="Foto do participante">

                                <h5 class="card-title">{{ membro[1].primeiro_nome +  " " + membro[1].sobrenome }}</h5>

                                <p class="desc-membro">{{ membro[0].descricao }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}