{% extends "base.html" %}

{% block styles %}
{{ super() }}

<link href="{{ url_for('static', filename='css/faq.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center pt-4">
		<div class="col-md-12 text-center">
			<h2>FAQ</h2>
		</div>
		<div class="col-md-12 pt-3">
					<p> *podem ocorrer alterações sem aviso prévio </p>

			<div class="accordion" id="accordion">
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
						aria-controls="collapseOne">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<h5><i class="fas fa-sort-down pb-2"></i>
									Não estudo na UFSCar, posso participar do evento?
								</h5>
						</div>
					</a>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body text-justify">
							Claro! Seja muito bem-vindo(a)! Qualquer pessoa pode se inscrever na SECOMP UFSCar.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">

								<h5><i class="fas fa-sort-down pb-2"></i> O evento é pago?
								</h5>
						</div>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body text-justify">
								O acesso ao conteúdo do evento é gratuito para todos os participantes. Entretanto, vendemos um kit que contém: uma camiseta personalizada do evento, diversos brindes que variam de acordo com a edição e acesso aos coffee breaks realizados ao longo da Semana. <br>

								Também realizamos um churrasco de integração, cujo ingresso é vendido separadamente.<br>
								
								<br>
								
								O que tem no KIT da X SECOMP, e como posso adquiri-lo? <br>
								
								Este ano nosso kit contém:<br>
								- Camiseta personalizada com a arte da edição do evento<br>
								- Copo ecológico de fibra de bambu<br>
								- Mochila-saco ecológica de algodão<br>
								- Adesivo personalizado com a logomarca do evento<br>
								- Adesivo personalizado com a arte da edição<br>
								- Tirante para crachá<br>
								- Acesso aos 9 coffee breaks realizado ao longo da Semana. <br>
								<br>
								Você pode adquirir seu kit através do site, após realizar as inscrições, ou presencialmente. Em nossa página do facebook divulgamos o período em que as vendas ficarão abertas, além do local e horário para a compra presencial.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
						aria-controls="collapseThree">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<h5><i class="fas fa-sort-down pb-2"></i>
									Há limite de vagas?
								</h5>
							</h5>
						</div>
					</a>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body text-justify">
							Minicursos e workshops possuem limite de vagas que serão divulgados junto à
							descrição de cada atividade ou no edital. As vagas são preenchidas por ordem de inscrição.
							Portanto, assim
							que
							as inscrições abrirem, garanta o quanto antes a sua vaga!

							As demais atividades que não precisam de inscrição (como palestras e mesas-redondas, por
							exemplo) possuem
							vagas limitadas apenas à quantidade de lugares no lugar da atividade.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
						aria-controls="collapseFour">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<h5><i class="fas fa-sort-down pb-2"></i>
									Quando abrem/fecham as inscrições para o evento?
								</h5>
							</h5>
						</div>
					</a>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
						<div class="card-body text-justify">
							<div class="col-md-8 center">
								<div class="col-md-12 text-center">
									<nav class="navbar nav-crono navbar-light navbar-expand-lg">
										<table class="table table-bordered">
											<thead>
												<tr>
													<div class="collapse navbar-collapse" id="navbarContent">
														<th scope="col-md-2" id="th_seg" class="nav_on">
															<a onclick="toggle_visibility('seg');">
																
																<h5 class="pr-4 pl-4">Início</h5>
																<h4><span id="nav-seg">26/08/2019 12:30</span></h4>
																<div id="div_seg" class="day selected"></div>
				
															</a>
														</th>
														<th scope="col-md-2" id="th_ter" class="nav_off">
															<a onclick="toggle_visibility('ter');">
				
																<h5 class="pr-4 pl-4">Fim</h5>
																<h4><span id="nav-ter">04/09/2019 12:30</span></h4>
																<div id="div_ter" class="day"></div>
				
															</a>
														</th>
													</div>
												</tr>
												<thead>
										</table>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
						aria-controls="collapseFive">
						<div class="card-header" id="headingFive">
							<h5 class="mb-0">
								<h5><i class="fas fa-sort-down pb-2"></i>
									Como funcionam as rodadas de minicursos?
								</h5>
							</h5>
						</div>
					</a>
					<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
						<div class="card-body text-justify">
							No dia 30/08 abre a primeira etapa de inscrição em minicursos, o participante terá direito a uma vaga nessa etapa e poderá
							preencher a vaga até dia 02/09 ás 20:00. A segunda etapa de inscrição em minicurso abre no dia 03/09 e funcionará exatamente como a primeira etapa, no entanto, se voce não se inscreveu
							em nada na primeira etapa não poderá se inscrever em duas atividades na segunda etapa, só será aceito uma inscrição por etapa.
							<br>É possível se inscrever e desinscrever quantas vezes quiser dentro do prazo de cada etapa. <br>Caso você se inscreva em um minicurso na primeira etapa 
							e na segunda decida se desincrever, mesmo assim não terá duas vagas na segunda etapa.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
						aria-controls="collapseSix">
						<div class="card-header" id="headingSix">
							<h5 class="mb-0">
								<h5><i class="fas fa-sort-down pb-2"></i>
									Quando abrem/fecham as inscrições para os minicursos?
								</h5>
							</h5>
						</div>
					</a>
					<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
						<div class="card-body text-justify">
							<div class="col-md-12 center">
								<div class="col-md-12 text-center">
									<nav class="navbar nav-crono navbar-light navbar-expand-lg">
										<table class="table table-bordered">
											<thead>
												<tr>
													<div class="collapse navbar-collapse" id="navbarContent">
														<th scope="col-md-2" id="th_seg" class="nav_on">
															<a onclick="toggle_visibility('seg');">
																
																<h5 class="pr-4 pl-4">Início - Etapa 1</h5>
																<h4><span id="nav-seg">30/08/2019 12:30</span></h4>
																<div id="div_seg" class="day selected"></div>
				
															</a>
														</th>
														<th scope="col-md-2" id="th_ter" class="nav_off">
															<a onclick="toggle_visibility('ter');">
				
																<h5 class="pr-4 pl-4">Fim - Etapa 1</h5>
																<h4><span id="nav-ter">03/09/2019 09:30</span></h4>
																<div id="div_ter" class="day"></div>
				
															</a>
														</th>
														<th scope="col-md-2" id="th_ter" class="nav_off">
															<a onclick="toggle_visibility('ter');">
				
																<h5 class="pr-4 pl-4">Início - Etapa 2</h5>
																<h4><span id="nav-ter">03/09/2019 12:30</span></h4>
																<div id="div_ter" class="day"></div>
				
															</a>
														</th>
														<th scope="col-md-2" id="th_ter" class="nav_off">
															<a onclick="toggle_visibility('ter');">
				
																<h5 class="pr-4 pl-4">Fim - Etapa 2</h5>
																<h4><span id="nav-ter">Enquanto houverem vagas</span></h4>
																<div id="div_ter" class="day"></div>
				
															</a>
														</th>
													</div>
												</tr>
												<thead>
										</table>
									</nav>
								</div>
							</div>
					
						</div>
					</div>
				</div>

				<div class="card">
						<a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
							aria-controls="collapseSeven">
							<div class="card-header" id="headingSeven">
								<h5 class="mb-0">
									<h5><i class="fas fa-sort-down pb-2"></i>
										Como posso me tornar um patrocinador da SECOMP UFSCar? 
									</h5>
							</div>
						</a>
						<div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
							<div class="card-body text-justify">
									Primeiramente gostaríamos de agradecer o interesse! <br>
									Você pode entrar em contato com nossa equipe de Patrocínio, enviando um email para contato@secompufscar.com.br 
							</div>
						</div>
					</div>
					<div class="card">
							<a data-toggle="collapse" data-target="#collapseEight" aria-expanded="false"
								aria-controls="collapseEight">
								<div class="card-header" id="headingEight">
									<h5 class="mb-0">
										<h5><i class="fas fa-sort-down pb-2"></i>
											Gostaria de apresentar algo na SECOMP UFSCar. Como proceder?
										</h5>
								</div>
							</a>
							<div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordion">
								<div class="card-body text-justify">
										Agradecemos muito pelo interesse em agregar algo ao nosso evento! <br>
										Você pode entrar em contato com nossa equipe de Conteúdo, enviando um email para conteudo@secompufscar.com.br

								</div>
							</div>
						</div>

			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-md-12 text-center">
			<h4>Realização</h4>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>


{% endblock %}