{% extends "base.html" %}

{% block styles %}
{{ super() }}

<link href="{{ url_for('static', filename='css/faq.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center pt-4">
		<div class="col-md-12 text-center">
			<h2>FAQ</h2>
		</div>

		<div class="col-md-12 pt-3">
			<div class="accordion" id="accordion">
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
						aria-controls="collapseTwo">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<h5 style="color:#008cb5;"><i class="fas fa-sort-down pb-2"></i>
									Não estudo na UFSCar, posso participar do evento?
								</h5>
						</div>
					</a>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body text-justify">
							Claro! Seja muito bem-vindo(a)! Qualquer pessoa pode se inscrever na SECOMP UFSCar.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">

								<h5 style="color:#008cb5;"><i class="fas fa-sort-down pb-2"></i> O evento é pago?
								</h5>
						</div>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body text-justify">
							O acesso ao conteúdo do evento é gratuito para todos os participantes. Entretanto,
							teremos opções de pacotes para compra do kit do participante que contará com camiseta
							personalizada do evento, caneca, diversos brindes e acesso a todos os coffee breaks do
							evento. Aos que quiserem participar apenas do Capture the Flag (CTF), também será possível
							comprar um pacote mais barato que contempla apenas a inscrição na modalidade. Mais detalhes
							sobre os pacotes serão divulgados em breve.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
						aria-controls="collapseThree">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<h5 style="color:#008cb5;"><i class="fas fa-sort-down pb-2"></i>
									Qual a forma de pagamento, caso eu queira comprar o kit?
								</h5>
						</div>
					</a>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body text-justify">
							Você poderá pagar com cartão de crédito via PayPal, realizando depósito ou
							transferência bancária para uma conta do Banco do Brasil, ou ainda poderá pagar
							presencialmente no
							Departamento de Computação da UFSCar em dias e horários a serem divulgados em nossa
							página
							do Facebook.
						</div>
					</div>
				</div>
				<div class="card">
					<a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
						aria-controls="collapseFour">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<h5 style="color:#008cb5;"><i class="fas fa-sort-down pb-2"></i>
									Há limite de vagas?
								</h5>
							</h5>
						</div>
					</a>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
						<div class="card-body text-justify">
							Minicursos e workshops possuem limite de vagas que serão divulgados junto à
							descrição de cada atividade ou no edital. As vagas são preenchidas por ordem de inscrição.
							Portanto, assim
							que
							as inscrições abrirem, garanta o quanto antes a sua vaga!

							As demais atividades que não precisam de inscrição (como palestras e mesas-redondas, por
							exemplo) possuem
							vagas limitadas apenas à quantidade de lugares no lugar da atividade.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Este forms seria igual à página de contato?
			 Deveria ser implementado então por wtforms?
			 Ou apenas um link para redirecionar para a página de contato?

			 
		<div class="col-md-5"> 
				<div class="pt-3 text-center">
						<h3 class="md-1">
							<br>Tem alguma dúvida sobre o evento? Entre em contato com a organização
						</h3> <br>
				</div>
				<form>
						<div class="form-group">
								<label for="id_nome">Seu nome:</label>
								<input type="text" name="nome" style="border-radius:4px;" placeholder="Seu nome" required="" id="id_nome">
							</div>
							<div class="form-group">								
								<label for="id_email">Seu e-mail:</label>
								<input type="email" name="email" style="border-radius:4px;" placeholder="Seu e-mail" required="" id="id_email">
							</div>
							<div class="form-group">								
								<label for="id_mensagem">Mensagem:</label><br>
								<textarea name="mensagem" cols="40" rows="5" style="border-radius:4px;" placeholder="Sua mensagem" required="" id="id_mensagem"></textarea>
							</div>
							<center>
							<button type="button" class="btn btn-secondary bg-gradient-secomp"><i class="fas fa-location-arrow"></i> Enviar mensagem</button>
								</center>
						</form>
		</div>-->

<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-md-12 text-center">
			<h4>Realização</h4>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>


{% endblock %}