{% extends "base.html" %}

{% block content %}

<style>
	.bg {
		background-color: #000000;
		background-image: url("{{ url_for('static', filename='images/car3.jpg') }}");
		height: 80vh;
		filter: blur(3px);
		-webkit-filter: blur(3px);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.title {
		background-color: #000000aa;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 3%;
		text-align: center;
	}

	.t1 {
		font-family: hacker;
		font-weight: 600;
		font-size: 500%;
		text-shadow: 2px 2px #a0a0a044;
	}

	.t2 {
		font-weight: 600;
	}
</style>

<div class="container-fluid bg-dark">

	<div class="bg"></div>

	<div class="title">
		<h1 class="t1">GAME JAM</h1>
	</div>

</div>

<div class="pt-4 bg-dark" style="color: #e1e1ff;">
	<div class="container">

		<div class="row">
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-calendar-alt"></i>
					<h5 class="t2 pt-2">DATA</h5>
					<h5>Início: Sábado (07/09) às 14h</h5>
					<h5>Fim: Domingo (08/09) às 18h</h5>
				</ul>
			</div>

			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-users"></i>
					<h5 class="t2 pt-2">EQUIPES</h5>
					<h5>Até 4 participantes*</h5>
				</ul>
			</div>
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-clipboard-check"></i>
					<h5 class="t2 pt-2">INSCRIÇÕES</h5>
					<h5>Através de forms do Google?</h5>
				</ul>
			</div>
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-trophy"></i>
					<h5 class="t2 pt-2">PREMIAÇÃO</h5>
					<h5>Rola prêmio na gamejam?</h5>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center pb-2">
				<h4 class="t2 pb-2">Descrição:</h4>

				<h5 class="pb-2">Tem que trocar esse texto
				</h5>
				<h5 class="pb-2">
					Pedir para o conteúdo
				</h5>
				<h6>Página inativa until further notice</h6>
			</div>
		</div>

		<div class="text-center">
			<button name="submit" type="submit" class="btn btn-primary m-3"><i
					class="mr-2 fas fa-sign-in-alt"></i>Acesse o edital</button>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-md-12 text-center">
			<h4>Realização</h4>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>

{% endblock %}