{% extends "base.html" %}

{% block content %}

<style>
	.bg {
		background-image: url("{{ url_for('static', filename='images/bgJam.jpg') }}");
		height: 85vh;
		filter: blur(3px);
		-webkit-filter: blur(3px);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.title {
		background-color: #000000cc;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 3%;
		text-align: center;
	}

	.t1 {
		font-family: hacker;
		font-weight: 600;
		font-size: 500%;
		text-shadow: 2px 2px #a0a0a044;
	}

	.t2 {
		font-weight: 600;
	}
</style>

<div class="container-fluid bg-dark pt-3">

	<div class="bg"></div>

	<div class="title">
		<h1 class="t1">GAME JAM</h1>
	</div>

</div>

<div class="pt-4 bg-dark" style="color: #e1e1ff;">
	<div class="container">

		<div class="row">
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-calendar-alt"></i>
					<h5 class="t2 pt-2">DATA</h5>
					<h6>Início: Sábado (07/09) às 14h</h6>
					<h6>Fim: Domingo (08/09) às 18h</h6>
				</ul>
			</div>

			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-users"></i>
					<h5 class="t2 pt-2">EQUIPES</h5>
					<h6>Até 4 participantes*</h6>
				</ul>
			</div>
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-clipboard-check"></i>
					<h5 class="t2 pt-2">INSCRIÇÕES</h5>
					<h6>De 25/08 até o 07/09</h6>
					<h6>Acesse o 
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSfbN20cDaWeGCGRL8wyyik8sjgHltvTOAuNSh_FvqOEw-PUEQ/viewform?usp=sf_link"
							target="_blank">
							formulário
						</a>
					</h6>
				</ul>
			</div>
			<div class="col-md-3 mt-2">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-trophy"></i>
					<h5 class="t2 pt-2">PREMIAÇÃO</h5>
					<h6>1° Lugar - Ingressos para a BGS</h6>
					<h6>2° Lugar - R$300,00 em cupons</h6>
				</ul>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12 text-center pb-2">
				<h4 class="t2 pb-2">Descrição:</h4>

				<h5>Se você se interessa por Desenvolvimento de Jogos, está mais do que convidado a
					participar da nossa Game Jam em parceria com o GAMSo! Junte-se com amigos e participe dessa maratona
					de desenvolvimento para aprender e desenvolver seu próprio jogo sobre um TEMA SURPRESA que será
					divulgado na abertura da Game Jam!</h5>
				</h5>
				<h5 class="pb-4">
					O jogo deverá possuir os arquivos do jogo e um arquivo de instrução para rodá-lo (especificar SO,
					etc)
				</h5>
			</div>
			<div class="col-md-12">
				<h5>
					Os jogos serão avaliados pelos critérios de:
				</h5>
				<ul class="pb-4">
					<li>
						Fidelidade do tema (jogos não relacionados ao tema serão automaticamente desclassificados);
					</li>
					<li>
						Progressão do jogo (jogo com início, meio e fim);
					</li>
					<li>
						Criatividade (auto explicativo);
					</li>
					<li>
						Ambientação (jogos que se importam em ser coerentes no visual, para que fique fácil de jogar ou
						que proporcionam certa imersão ao jogo, como clima propício, etc).
					</li>
				</ul>
			</div>
			<div class="col-md-12 text-center">
				<h5 class="pb-4"><b>ATENÇÃO!</b> As vagas são limitadas a 40 participantes no total.</h5>
				<h6>*todos os integrantes devem estar inscritos na X SECOMP</h6>
			</div>
		</div>

		<div class="text-center">
			<a href="{{ url_for('static', filename='juridic/edital_game_jam.pdf') }}" target="_blank"
				class="btn btn-secondary m-3">
				<i class="mr-2 fas fa-pen"></i>Acesse o edital</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfbN20cDaWeGCGRL8wyyik8sjgHltvTOAuNSh_FvqOEw-PUEQ/viewform?usp=sf_link"
				target="_blank" class="btn btn-secondary m-3">
				<i class="mr-2 fas fa-sign-in-alt"></i>Inscreva-se!</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-md-12 text-center">
			<h4>Realização</h4>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>

{% endblock %}