{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='swiper/swiper.min.css') }}" rel="stylesheet" type="text/css" />

<style>
	#car1 {
		background-image: url("{{ url_for('static', filename='images/bg.jpeg') }}");
	}

	#content {
		padding-top: 0 !important;
	}
</style>
{% endblock %}


{% block content %}
<img id="car1" class="background">
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">

			<div class="col-md-12 text-center">
				<div class="row align-items-center justify-content-center text-center text-white bg-fade">
					<div class="col-md-12">
						<img class="logoL" src="{{ url_for('static', filename='images/logo-branca.png') }}">
						<img class="logoP" src="{{ url_for('static', filename='images/logo-colorida.png') }}">
					</div>
					<div class="col">
						<h1 id="contador-dias">00</h1>
						<h4>dias</h4>
					</div>
					<div class="col">
						<h1 id="contador-horas">00</h1>
						<h4>horas</h4>
					</div>
					<div class="col">
						<h1 id="contador-min">00</h1>
						<h4>min</h4>
					</div>
					<div class="col">
						<h1 id="contador-seg">00</h1>
						<h4>seg</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Palestras</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-microphone-alt"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Minicursos</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-laptop-code"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Workshops</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-code-branch"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Palestras</h2>
							<h3>Empresariais</h3>
						</div>
						<div class="col-4">
							<i class="fas fa-briefcase"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Mesas Redondas</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-users"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Feira Empresarial</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-building"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Feira de Projetos</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-graduation-cap"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Processos Seletivos</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-clipboard"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Game Night</h2>
							<h5>By: Caenc</h5>
						</div>
						<div class="col-4">
							<i class="fas fa-gamepad"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h3>CTF</h3>
							<h4>Desafio de Programadores</h4>
						</div>
						<div class="col-4">
							<i class="fas fa-trophy"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="top-left">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Career Talks</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-comments"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="larger row align-items-center text-white bg-fade">
						<div class="col-8">
							<h2>Game Jam</h2>
						</div>
						<div class="col-4">
							<i class="fas fa-ghost"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">

			<div class="container-fluid text-center">
				<div class="row justify-content-center align-items-center text-white bg-fade">
					<div class="col-md-12">
						<h1 style="padding-top: 6vh; padding-bottom: 9vh; font-size: 6vh;">Quer participar?</h1>
						<a href="{{ url_for('users.cadastro') }}"
							style="font-size: 4vh; padding: 2vh; text-decoration: none; background-color: #008cb5ee; color: #fff; border-radius: 1rem;">
							Inscreva-se já!</a>
						<h5 style="padding-top: 10vh; padding-bottom: 6vh;">O evento é gratuito e aberto para toda a
							comunidade (:</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='swiper/swiper.min.js') }}"></script>

<script>
	var countDownDate = new Date("Sep 09, 2019 08:00:00").getTime();
	// Update the count down every 1 second
	var x = setInterval(function () {
		// Get todays date and time
		var now = new Date().getTime();
		// Find the distance between now and the count down date
		var distance = countDownDate - now;
		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		// Display the result in the element with id="demo"
		document.getElementById("contador-dias").innerHTML = days;
		document.getElementById("contador-horas").innerHTML = hours;
		document.getElementById("contador-min").innerHTML = minutes;
		document.getElementById("contador-seg").innerHTML = seconds;
		// If the count down is finished, write some text 
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("contador").innerHTML = "Evento já realizado :P";
		}
	}, 1000);
</script>

<script>

	var body = document.body;
	var slider = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		direction: 'horizontal',
		slidesPerView: 1,
		paginationClickable: true,
		mousewheelControl: true,
		onSlideChangeStart: function (swiper) {
			var currentSlide = swiper.slides[swiper.activeIndex];
		},
	});

</script>
{% endblock %}