{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='swiper/swiper.min.css') }}" rel="stylesheet" type="text/css" />

<style>
	#car1 {
		background-image: url("{{ url_for('static', filename='images/car1.jpg') }}");
	}

	#car2 {
		background-image: url("{{ url_for('static', filename='images/car2.jpg') }}");

	}

	#car3 {
		background-image: url("{{ url_for('static', filename='images/car3.jpg') }}");
	}
</style>
{% endblock %}


{% block content %}

<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img id="car1" class="background">

			<div id="bg1" class="col-md-12 text-center">
				<div class="row align-items-center justify-content-center text-center text-white bg-fade">
					<div class="col-md-12">
						<img class="logoL" src="{{ url_for('static', filename='images/logo-branca.png') }}">
						<img class="logoP" src="{{ url_for('static', filename='images/logo-colorida.png') }}">
					</div>
					<div class="col">
						<h1 id="contador-dias">00</h1>
						<h4>dias</h4>
					</div>
					<div class="col">
						<h1 id="contador-horas">00</h1>
						<h4>horas</h4>
					</div>
					<div class="col">
						<h1 id="contador-min">00</h1>
						<h4>min</h4>
					</div>
					<div class="col">
						<h1 id="contador-seg">00</h1>
						<h4>seg</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">
			<img id="car2" class="background">

			<div id="bg2" class="container-fluid text-center">
				<div class="top-left">
					<div class="row larger align-items-center text-white bg-fade">
						<div class="col-6 text-right">
							<i class="fas fa-microphone pr-1"></i>
						</div>
						<div class="col-6 text-left pl-1">
							<h2>Palestras</h2>
							<h5>Todos os dias</h5>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="row larger align-items-center text-white bg-fade">
						<div class="col-6 text-right pr-1">
							<h2>Minicursos</h2>
							<h5>De 4 a 6 horas</h5>
						</div>
						<div class="col-6 text-left">
							<i class="fas fa-laptop-code pl-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide">
			<img id="car3" class="background">

			<div id="bg2" class="container-fluid text-center">
				<div class="top-left">
					<div class="row larger align-items-center text-white bg-fade">
						<div class="col-6 text-right pr-1">
							<h2>Workshops</h2>
							<h5>Para aprender a prática</h5>
						</div>
						<div class="col-6 text-left">
							<i class="fas fa-code-branch pl-1"></i>
						</div>
					</div>
				</div>

				<div class="bottom-right">
					<div class="row larger align-items-center text-white bg-fade">
						<div class="col-6 text-right pr-1">
							<h2>Feira empresarial</h2>
							<h5>Aproximando oportunidades</h5>
						</div>
						<div class="col-6 text-left">
							<i class="fas fa-briefcase pl-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='swiper/swiper.min.js') }}"></script>

<script>
	var countDownDate = new Date("Sep 09, 2019 08:00:00").getTime();
	// Update the count down every 1 second
	var x = setInterval(function () {
		// Get todays date and time
		var now = new Date().getTime();
		// Find the distance between now and the count down date
		var distance = countDownDate - now;
		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		// Display the result in the element with id="demo"
		document.getElementById("contador-dias").innerHTML = days;
		document.getElementById("contador-horas").innerHTML = hours;
		document.getElementById("contador-min").innerHTML = minutes;
		document.getElementById("contador-seg").innerHTML = seconds;
		// If the count down is finished, write some text 
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("contador").innerHTML = "Evento já realizado :P";
		}
	}, 1000);
</script>

<script>

	var body = document.body;
	var slider = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		direction: 'vertical',
		slidesPerView: 1,
		paginationClickable: true,
		mousewheelControl: true,
		onSlideChangeStart: function (swiper) {
			var currentSlide = swiper.slides[swiper.activeIndex];
		},
	});

</script>
{% endblock %}