{% extends "base.html" %}

{% block content %}
<div class="overlay">
	<img class="opac img-responsive" src="{{url_for('static', filename='images/fundoctf.gif')}}">
	<div class="text-center overlay-text">
		<img class="w-50" src="{{url_for('static', filename='images/logo-colorida.png')}}">
		<h1 class="mt-4">Bem vindo a X SECOMP!</h1>
		<h2>Semana da Computação da UFSCar</h2>
	</div>
</div>

<div class="container pt-4">
	<div class="row">
		<div class="col-md-7">
			<div id="video" class="embed-responsive embed-responsive-21by9 ">
				<video width="100%" height="100%" controls>
					<source src="{{ url_for('static', filename='media/IX SECOMP UFSCar - Teaser.mp4') }}"
						type="video/mp4" />
				</video>
			</div>
			<h6 style="margin-top: 15px;"> Teaser - IX SECOMP</h6>
		</div>

		<div class="col-md-5 align-self-center">
			{# Texto adicional para testar espaçamento #}

			<h2 class="text-center pb-3"> Um pouco sobre a SECOMP</h2>
			<p class="text-justify">
				A Semana Acadêmica da Computação da Universidade Federal de São Carlos surgiu da necessidade de se
				trazer
				assuntos que fossem de interesse tanto da comunidade acadêmica quanto de entusiastas.

				Desde a sua primeira edição, a SECOMP trabalha para que os assuntos sejam os mais atuais possíveis e que
				sejam
				transmitidos da maneira mais dinâmica tentando aproximar o participante de áreas que vão da academia até
				o
				mercado de trabalho através de minicursos, workshops, palestras técnicas, empresariais, mesas redondas,
				feira de
				recrutamento e muitos outros conteúdos que foram pensados ao longo do tempo em busca de um evento cada
				vez
				melhor.

				Em prol disso, os estudos são constantes para que o modelo de evento sempre melhore e se torne
				referência,
				trazendo cada vez mais experiências únicas a quem nos acompanha e encurtando as relações para que todos
				os
				segmentos de público sejam beneficiados.
			</p>
		</div>
	</div>
</div>


<div class="text-center text-white p-3 mt-4 mb-4 bg-dark">
	<h2>9 a 13 de setembro</h2>
	<div class="teste" style="display: inline-block;">
		<div class="clock" style="margin:2em;"></div>

			<script type="text/javascript">
				var clock;
				
				$(document).ready(function() {
					// Set dates.
					var futureDate  = new Date("Sep 09, 2019 08:00:00");
					var currentDate = new Date();

					// Calculate the difference in seconds between the future and current date
					var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

					// Calculate day difference and apply class to .clock for extra digit styling.
					function dayDiff(first, second) {
						return (second-first)/(1000*60*60*24);
					}

					if (dayDiff(currentDate, futureDate) < 100) {
						$('.clock').addClass('twoDayDigits');
					} else {
						$('.clock').addClass('threeDayDigits');
					}

					if(diff < 0) {
						diff = 0;
					}

					// Instantiate a coutdown FlipClock
					clock = $('.clock').FlipClock(diff, {
						clockFace: 'DailyCounter',
						countdown: true
					});
				});
			</script>
		</div>
	</div>
</div>


<!-- Portfolio Section -->
<section id="portfolio">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="_" data-toggle="modal" data-target="#modal-ministrantes">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption">

						<h3 style="font-weight: 600;"> Ministrantes </h3>

					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box"  href="_" data-toggle="modal" data-target="#modal-palestras">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption">
						<h3 style="font-weight: 600;"> Palestras </h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box"  href="_" data-toggle="modal" data-target="#modal-minicursos">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption">
						<h3 style="font-weight: 600;"> Minicursos </h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="_" data-toggle="modal" data-target="#modal-workshops">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption">
						<h3 style="font-weight: 600;"> Workshops </h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box"  href="_" data-toggle="modal" data-target="#modal-capture">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption">
						<h3 style="font-weight: 600;"> Capture The Flag </h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box"  href="_" data-toggle="modal" data-target="#modal-mesa">
					<img class="img-fluid" src="{{url_for('static', filename='images/car1.jpg')}}" alt="">
					<div class="portfolio-box-caption p-3">
						<h3 style="font-weight: 600;"> Mesas Redondas </h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>




<footer class="navbar small pt-5 text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-calendar-alt"></i>
					<h5 class="pt-2"><strong>QUANDO?</strong></h5>
					<p><b>09 a 13 de Setembro</b></p>
				</ul>
			</div>

			<div class="col-md-4">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-map-marker-alt"></i>
					<h5 class="pt-2"><strong>ONDE?</strong></h5>
					<p><b>Anfiteatro Bento Prado Jr. e Departamento de Computação, na Universidade Federal de São
							Carlos</b></p>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-question-circle"></i>
					<h5 class="pt-2"><strong>DÚVIDAS?</strong></h5>
					<p><b>Consulte mais informações no <a href="/2018/faq">FAQ</a> e, se necessário, entre em contato
							com a organização</b></p>
				</ul>
			</div>
		</div>
	</div>

</footer>
<div class="container text-center mt-4 mb-4">
	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h3>Realização</h3>
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-secomp.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">
		</div>
		<div class="col-sm-3 align-self-center">
			<img class="img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/flipclock.min.js') }}"></script>
{% endblock %}