{% extends "base.html" %}

{% block content %}


<div class="container" style="padding-top:50px">
	<h1 class="text-center" style="padding:50px">Pontuação COMPCases - X SECOMP</h1>
    {% if participante_logado != None %}
       <center><h5 style="padding-bottom:50px">A sua pontuação é de {{ participante_logado.pontuacao }} pontos</h5></center>
    {% endif %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ participante.usuario.primeiro_nome }} {{ participante.usuario.sobrenome }} </td>
                <td>{{ participante.pontuacao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

