{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Desafio de Programadores</h2>
    </div>
    <div class="col-md-8">
        {% if time %}
            <h2>Seu time: {{ dados.nome_time }}</h2>
            <h2>Participantes: </h2>
            {% for i in time.participantes %}
                <p> - {{ i }}</p>
            {% endfor %}
        {% else %}
            <h2>Você ainda não está inscrito em nenhum time. <a href="{{ url_for('users.cadastrar_time_desafio') }}">Clique aqui para se inscrever!</a></h2>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}