Flask>=1.0.2
flask_bootstrap>=3.3.7.0
flask_login>=0.4.1
flask_mail>=0.9.1
flask_migrate>=2.3.1
flask_script>=2.0.6
flask_sqlalchemy>=2.3.2
flask_wtf>=0.14.2
flask-admin>=1.5.3
itsdangerous>=1.1.0
passlib>=1.7.1
PyMySQL>=0.9.3
SQLAlchemy>=1.2.17
WTForms>=2.2.1
pyOpenSSL>=19.0.0
bcrypt>=3.1.6
wtforms-recaptcha>=0.3.2
flask-babelex>=0.9.3
