{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<script>
  function continuar2(){
    $(location).attr('href','/participante/dashboard');
  }
</script>
<style>
  #pergunta{
    margin-top:15px;
  }
  .help-block{
    color: red;
  }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h2 id="pergunta" class="text-center" style='margin-bottom:30px'><i class="fa fa-lg fa-cart-plus"></i> Deseja comprar o kit da SECOMP UFSCar?</h2>
            <form method="POST" action="{{url_for('users.comprar_kit')}}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.comprar) }}
            <div id='info_kit'>
              {{ wtf.form_field(form.camiseta) }}
              {{ wtf.form_field(form.restricao_coffee) }}
              <div style="margin-bottom:8px;">Escolha a forma de pagamento</div>
              {{ wtf.form_field(form.forma_pagamento) }}
              <div id="info_conta" style='margin-bottom: 10px'>
                <div>Conta: 1189071-1</div>
                <div>Agência: 4779</div>
                <div>Banco: Banco do Brasil</div>
                <div>Cidade: São Carlos</div>
                <div>Estado: SP</div>
                {{ wtf.form_field(form.comprovante) }}
              </div>
              {{ wtf.form_field(form.uso_cupom_desconto) }}
              <div id="desconto">
              {{ wtf.form_field(form.cupom_desconto) }}
              </div>
              {{ wtf.form_field(form.recaptcha) }}
              <button type="submit" class="btn btn-primary">Confirmar Pagamento</button>
            </div>
            <button type='button' id='continuar' class="btn btn-primary" onclick='continuar2()'>Continuar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
          if ($('#comprar-0').is(':checked')){
              $('#info_kit').show();
              $('#continuar').hide();
          }


          if ($('#comprar-1').is(':checked')){
              $('#info_kit').hide();
              $('#continuar').show();
          }



          if ($('#forma_pagamento-0').is(':checked')){
              $('#info_conta').show();
          }

          if ($('#forma_pagamento-1').is(':checked')){
              $('#info_conta').hide();
          }

          if ($('#uso_cupom_desconto').is(':checked')){
              $('#desconto').show();
          }
          else{
              $('#desconto').hide();
          }

    });
    $('#info_kit').hide();
    $('#info_conta').hide();
    $('#desconto').hide();
    $('#comprar-0').change(function() {
        if ($('#comprar-0').is(':checked')){
            $('#info_kit').show();
            $('#continuar').hide();
        }
    });

    $('#comprar-1').change(function() {
        if ($('#comprar-1').is(':checked')){
            $('#info_kit').hide();
            $('#continuar').show();
        }
    });

    $('#forma_pagamento-0').change(function() {
        if ($('#forma_pagamento-0').is(':checked')){
            $('#info_conta').show();
        }
    });
    $('#forma_pagamento-1').change(function() {
        if ($('#forma_pagamento-1').is(':checked')){
            $('#info_conta').hide();
        }
    });

    $('#uso_cupom_desconto').change(function() {
        if ($('#uso_cupom_desconto').is(':checked')){
            $('#desconto').show();
        }
        else{
            $('#desconto').hide();
        }
    });

    $('#comprovante').prop('required', false);

</script>

<script>
	$(document).ready(function(){
    	$('#content').css("padding-top", $('#navTop').height() * 1.2);
  });
</script>
{% endblock %}

{% block footer %}{% endblock %}
