{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block sidebar_content %}

<style>
    .help-block {
        color: red;
    }
   .radio{
      display: block;
      float: left;
      padding-right: 30px;
    }
    label[for=camiseta], label[for=restricao_coffee], label[for=cupom_desconto], label[for=comprovante], #forma_pagamento, .checkbox > label{
      font-weight: bold;
    }
    .titulo{
      font-size: 25px;
      font-weight: bold;
    }
    #info_paypal, #info_conta{
      padding-top:0px;
    }
</style>

<div class="container pt-4 pb-4">


    <div class="col-md-12">
        <h2 id="pergunta" class="text-center pb-4"><i class="fa fa-lg fa-cart-plus"></i>
            Deseja comprar o kit da SECOMP UFSCar?</h2>
    </div>

    <form method="POST" action="{{url_for('users.comprar_kit')}}" enctype="multipart/form-data">

        {{ form.hidden_tag() }}
        <div class="row justify-content-around no-gutters">
        <div class="col-md-4">
        <div id="escolha_compra">
              <div class="row justify-content-around no-gutters">
                <div class="col">
              <div>{{ wtf.form_field(form.comprar) }}</div><br>
            </div>
            </div>

            <div class="row justify-content-around no-gutters">
              <div class="col">
              <div style="font-size:25px"><b>Preço do KIT:</b> R$ {{ valor }}</div>
          </div>
          </div>

            <div class="row justify-content-around no-gutters">
              <div class="col">
            <button type='button' id='continuar' class="btn btn-primary" onclick='continuar2()'>Continuar</button>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      </div>
        <div id='info_kit'>
            <div class="row justify-content-around no-gutters">
                <div class="col-md-4">
                    {{ wtf.form_field(form.camiseta) }}
                    {{ wtf.form_field(form.restricao_coffee) }}
                    <p id="forma_pagamento">Escolha a forma de pagamento</p>
                    {{ wtf.form_field(form.forma_pagamento) }}<br>
                    <div class="pt-4">
                        {{ wtf.form_field(form.uso_cupom_desconto) }}
                    </div>
                    <div id="desconto">
                        {{ wtf.form_field(form.cupom_desconto) }}
                    </div>
                </div>

                <div class="col-md-4" id="info_conta">
                    <div class="titulo pb-4">Dados para transferência</div>
                    <p><b>Agência:</b> 1888-0
                        <br><b>Conta:</b> 35716-2
                        <br><b>CPNJ:</b> 30800496/0001-49
                        <br><b>Banco:</b> Banco do Brasil</p>
                    {{ wtf.form_field(form.comprovante) }}
                    <button type="submit" class="btn btn-primary">Confirmar Pagamento</button>
                </div>
                <div class="col-md-4" id="info_paypal">
                    <div class="titulo pb-4">Informações PayPal</div>
                    <div class="pb-3">Após pressionar "confirmar pagamento", você será redirecionado ao PayPal para completar e confirmar seu pagamento</div>
                    <button type="submit" class="btn btn-primary">Confirmar Pagamento</button>
                </div>
            </div>
          </div>

          <div class="row justify-content-around no-gutters">
          <div class="col-md-4">
          <div id="recaptcha">
            <div class="recaptcha-responsive">
                {{ wtf.form_field(form.recaptcha) }}
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
        </div>
</div>
</form>

{% endblock %}

{% block scripts %}

{{ super() }}

<script>
    function continuar2() {
        $(location).attr('href', '/participante/dashboard');
    }
</script>

<script>

    $(document).ready(function () {
        if ($('#comprar-0').is(':checked')) {
            $('#info_kit').show();
            $('#recaptcha').show();
            $('#continuar').hide();
        }


        if ($('#comprar-1').is(':checked')) {
            $('#info_kit').hide();
            $('#continuar').show();
            $('#recaptcha').hide();
        }

        if ($('#forma_pagamento-0').is(':checked')) {
          $('#info_conta').show();
          $('#info_paypal').hide();
        }

        if ($('#forma_pagamento-1').is(':checked')) {
          $('#info_conta').hide();
          $('#info_paypal').show();
        }

        if ($('#uso_cupom_desconto').is(':checked')) {
            $('#desconto').show();
        }
        else {
            $('#desconto').hide();
        }

    });
    $('#info_kit').hide();
    $('#info_conta').hide();
    $('#desconto').hide();
    $('#comprar-0').change(function () {
        if ($('#comprar-0').is(':checked')) {
            $('#info_kit').show();
            $('#recaptcha').show();
            $('#continuar').hide();
        }
    });

    $('#comprar-1').change(function () {
        if ($('#comprar-1').is(':checked')) {
            $('#info_kit').hide();
            $('#recaptcha').hide();
            $('#continuar').show();
        }
    });

    $('#forma_pagamento-0').change(function () {
        if ($('#forma_pagamento-0').is(':checked')) {
              $('#info_conta').show();
              $('#info_paypal').hide();
        }
    });
    $('#forma_pagamento-1').change(function () {
        if ($('#forma_pagamento-1').is(':checked')) {
              $('#info_conta').hide();
              $('#info_paypal').show();
        }
    });

    $('#uso_cupom_desconto').change(function () {
        if ($('#uso_cupom_desconto').is(':checked')) {
            $('#desconto').show();
        }
        else {
            $('#desconto').hide();
        }
    });

    $('#comprovante').prop('required', false);

</script>

{% endblock %}
