{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<p>{{ resultado }}</p>
			{% if status == True: %}
				{% if ministrante == True: %}
				<button onclick="location.href='{{url_for('conteudo.dados_hospedagem_transporte')}}'">Continuar</button>
				{% else: %}
				<button onclick="location.href='dashboard'">Continuar</button>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
