{% extends "users/sidebar.html" %}

{% block sidebar_content %}

<div class="container">

    <div class="row justify-content-center pt-1">
        <div class="col-md-12 text-center">
            <h2>Dados de Participante</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-borderless table-responsive">

                <thead class="thead bg-dark text-white">
                    <tr>
                        <th scope="col">Evento</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if (participante != None) %}

                        <th scope="row">Data de inscrição</th>
                        <td>{{ participante.data_inscricao.strftime('%d/%m/%Y às %H:%M:%S') }}</td>

                        {% else: %}

                        <th scope="row">Inscrição</th>
                        <td><a href="{{url_for('.cadastro_participante')}}">Inscrever-se na SECOMP 2019</a></td>

                        {% endif %}
                    </tr>

                    <tr>
                        <th scope="row">Pontuação COMPCases</th>
                        {% if (participante != None) %}
                        <td>{{ participante.pontuacao }}</td>
                        {% else: %}
                        <td><a href="{{url_for('.cadastro_participante')}}">Inscreva-se para iniciar a contagem da pontuação</a></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <th scope="row">Inscrições em Atividades</th>
                        {% if (participante != None) %}
                            {% if (participante.atividades) %}
                            <td>
                            {% for a in participante.atividades %}
                                {{ a.titulo }}</br>
                            {% endfor %}
                            </td>
                            {% endif %}
                        {% else: %}
                        <td><a href="{{url_for('.cadastro_participante')}}">Inscreva-se na SECOMP UFSCar para participar se inscrever em minicursos e workshop.</a></td>
                        {% endif %}
                    </tr>

                </tbody>

                {% if participante.pagamentos %}
                <thead class="thead bg-dark text-white">
                    <tr>
                        <th scope="col">Kit</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Restrição do Coffee Break</th>
                        <td>{{ restricao_alimentar }}</td>
                    </tr>
                        <tr>
                            <th scope="row">Tamanho de Camiseta</th>
                            <td>
                            {% for p in participante.pagamentos %}
                                {% if p.rejeitado is not sameas true %}
                                    {% if p.efetuado is sameas true %}
                                    {{ p.camiseta }} {{ ' (pagamento aprovado)' }}</br>
                                    {% else %}
                                    {{ p.camiseta }} {{ ' (pagamento pendente)' }}</br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                </tbody>
                {% endif %}

            </table>
        </div>
    </div>
</div>

{% endblock %}