{% extends "users/sidebar.html" %}

{% block sidebar_content %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-12 text-center p-2">
            <h2>Dados</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead class="thead bg-diretor text-white">
                    <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Nome</th>
                        <td>{{ usuario.primeiro_nome + ' ' + usuario.sobrenome }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                            <th scope="row">Senha</th>
                            <td><a href="{{url_for('.alterar_senha')}}">Alterar senha</a></td>
                        </tr>
                    <tr>
                        <th scope="row">Data de nascimento</th>
                        <td>{{ usuario.data_nascimento.strftime('%d/%m/%Y') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cidade</th>
                        <td>{{ usuario.cidade }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cidade</th>
                        <td>{{ usuario.cidade }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Curso</th>
                        <td>{{ usuario.curso.nome}}</td>
                    </tr>
                    <tr>
                            <th scope="row">Instituição</th>
                            <td>{{ usuario.instituicao.nome }}</td>
                        </tr>
                    <tr>
                        <th scope="row">Último acesso</th>
                        <td>{{ usuario.ultimo_login.strftime('%d/%m/%Y às %H:%M:%S') }}</td>
                    </tr>
                </tbody>
                <thead class="thead bg-diretor text-white">
                    <tr>
                        <th scope="col">Evento</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if (participante != None) %}

                        <th scope="row">Data de inscrição</th>
                        <td>{{ participante.data_inscricao.strftime('%d/%m/%Y às %H:%M:%S') }}</td>

                        {% else: %}

                        <th scope="row">Inscrição</th>
                        <td><a href="{{url_for('.cadastro_participante')}}">Inscrever-se na SECOMP 2019</a></td>

                        {% endif %}
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}