{% extends "base.html" %}

{% block content %}


< style="padding:20%">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="padding:5%">
        {% if participante.id is None %}
        <a href="{{url_for('.cadastro_participante')}}" class="btn btn-primary">Inscrever-se na SECOMP 2019</a>
        {% else %}
        <p>Inscrito na SECOMP 2019</p>

        QR CODE: A fazer <br>
        Inscrição realizada em: {{ participante.data_inscricao }}
        <br>
        Presenças:
        {% for atividade in participante.atividades %}
        {{ atividade }},
        {% endfor %}
        <br>
        Pago:
        {% if participante.kit_pago %}
        Sim
        {% else %}
        Não
        {% endif %}
        <br>
        Camiseta: {{ participante.camiseta.tamanho }}
        <br>
        Opção do Coffee: {{ participante.opcao_coffee }}
        <br>
        Score: {{ participante.score_geral }}
        <br>

        <hr>

        <label>Dados</label>
        <br>
        Nome: {{usuario.primeiro_nome + ' ' + usuario.sobrenome}}
        <br>
        Email: {{usuario.email}}
        <br>
        Curso: {{usuario.curso.nome}}
        <br>
        Instituição: {{usuario.instituicao.nome}}
        <br>
        Data de nascimento: {{usuario.data_nasc}}
        <br>
        Cidade: {{usuario.cidade.nome}}
        <hr>
        <a href="{{url_for('.alterar_senha')}}" class="btn btn-primary">Alterar senha</a>
        <a href="{{url_for('.inscricao_atividades')}}" class="btn btn-primary">Atividades</a>
        {% if not participante.pagamento %}
        <a href="{{url_for('.inscricao_atividades')}}" class="btn btn-primary">Enviar comprovante</a>
        {% endif %}
        <a href="{{url_for('.logout')}}" class="btn btn-primary">Logout</a>

        {% endif %}
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}