{% extends 'users/sidebar.html' %}
{% import 'wtf.html' as wtf %}

{% block sidebar_content %}
<div class="container">
  <div class="row justify-content-center pt-1">
    <div class="col-md-8">
      <form method='POST' enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.comprovante) }}
        {{ wtf.form_field(form.recaptcha) }}
        <button type='submit' class='btn btn-primary'>Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}