{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row justify-content-center pt-3">

        <div class="col-md-8 pb-5">

                <h3 class="text-center">Recuperação de senha</h3>

            {% if status_envio_email == False: %}
            <form action="{{url_for('users.esqueci_senha')}}" method="POST">
                {{ form.csrf_token() }}
                {{ wtf.form_field(form.email) }}
                {{ form.recaptcha }}
                {% for error in form.recaptcha.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>
                </div>
            </form>
            {% else: %}
            <h2 class="text-center">Um email de confirmação foi enviado.</h2>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}

{% block footer %}{% endblock %}