{% extends "base.html" %}
{% import "wtf.html" as wtf %}
{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br><br><br>
        <center><h3>Recuperação de senha</h3></center>
        <hr>
        {% if status_envio_email == False: %}
        <p><b>Digite o email de sua conta</b></p>
        <form action="/esqueci-senha" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            {{ form.recaptcha }}
            {% for error in form.recaptcha.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            <center><button type="submit" class="btn btn-primary">Enviar</button></center>
            <br><br><br><br><br>
        </form>
        {% else: %}
        <h2>Um email de confirmação foi enviado.</h2>
        {% endif %}
    </div>
    <div class="col-md-4"></div>

</div>


{% endblock %}
