{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}


{% block sidebar_content %}

{% if acao == "+" %}
<div class="alert alert-success">
	<strong>Inscrito!</strong> Sua inscrição foi confirmada com sucesso.
</div>
{% elif acao == "-" %}
<div class="alert alert-success">
	<strong>Desinscrito!</strong> A sua inscrição foi removida com sucesso.
</div>
{% elif acao == "nao_inscrito" %}
<div class="alert alert-danger">
	Não está inscrito nessa atividade!
</div>
{% endif %}

<div class="container">

	<div class="row justify-content-center pt-1">
		<div class="col-md-12 text-center">
			<h2>Inscrição em Workshops</h2>
		</div>

		<div class="col-md-6">
			<div class="input-group mb-3">
				<input name="filtro" class="form-control" id="filtro" type="text" placeholder="Pesquisar por título">
				<div class="input-group-append">
					<button id="buscar" class="btn btn-default" type="button">
						<span class="fas fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="list" class="row justify-content-center">

		<div class="table-responsive col-md-12">
			<table class="table table-striped" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>Título</th>
						<th>Ministrante</th>
						<th>Vagas disponíveis</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>

					{% for atividade in workshops %}
					{% if atividade.ativo %}
					<tr>
						<td>{{atividade.titulo}}</td>
						<td>{{atividade.ministrantes.nome}}</td>
						<td>{{atividade.vagas_disponiveis}}/{{atividade.vagas_totais}}</td>
						<td>
							{% if participante in atividade.participantes %}
							<a href="{{ url_for('.desinscrever_workshop', id=atividade.id) }}">
								<button type="button" class="btn btn-danger">Desinscrever-se</button>
							</a>
							{% else %}
							<a href="{{ url_for('.inscrever_workshop', id=atividade.id)}}">
								{% if atividade.vagas_disponiveis > 0 %}
								<button type="button" class="btn btn-primary">
									{% else %}
									<button type="button" class="btn btn-secondary" disabled>
										{% endif %}
										Inscrever-se
									</button>
							</a>
							{% endif %}
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#modal{{ atividade.id }}"
								onclick="$('#modal{{ atividade.id }}').appendTo('body')">
								Visualizar
							</button>

						</td>
					</tr>

					{% endif %}
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>

{% for atividade in workshops %}
{% if atividade.ativo %}

<div id="modal{{ atividade.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-center">
					{{atividade.titulo}}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row no-gutters">
					<div class="col-md-10">
						<h5>{{atividade.ministrantes.nome}}</h5>
						<p class="text-muted">{{atividade.ministrantes.nome}}</p>
					</div>
					<div class="col-md-2">
						<img src="{{ url_for('static', filename='images/logo-colorida.png') }}" class="img-fluid">
					</div>
				</div>

				<h5>Descrição</h5>
				<p>{{atividade.descricao}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


{% endif %}
{% endfor %}



<script type="text/javascript">
	$("#buscar").click(function () {
		var titulo = $("#filtro").val();
		if (titulo) {
			$(location).attr('href', '/participante/inscricao-workshops/' + titulo);
		}
	});

</script>
{% endblock %}