{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block metas %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% endblock %}

{% block sidebar_content %}
<div class="container pt-1">
  <h2 class="text-center pb-2" style="margin-top: 15px; margin-bottom: 20px;">Meus pagamentos</h2>
    <form method="POST" id='form' action="{{url_for('users.pagamentos')}}">
      {{ form.hidden_tag() }}
    <table class="table text-center table-borderless">
      <thead class="thead bg-dark text-white">
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Status</th>
          <th scope="col">Método</th>
          <th scope="col">Camiseta</th>
          <th scope="col">Data e Hora</th>
          <th scope="col">Preço</th>
          <th scope="col">Comprovante</th>
          <th scope="col">Cancelar</th>
        </tr>
      </thead>
      <tbody>
        {% for pagamento in pagamentos%}
        <tr>
          <td scope='col'>
            {{ pagamento.descricao }}
          </td>
          <td scope='col'>
            {% if pagamento.cancelado is sameas False%}
            {% if pagamento.rejeitado is sameas true %}
            <span style='color: #cc0000;'>Rejeitado</span>
            {% elif pagamento.efetuado is sameas true %}
              <span style='color: #008000;'>Aprovado</span>
            {% else %}
              <span style='color: #cca300;'>Pendente</span>
            {% endif %}
            {% else %}
            <span style='color: #1B1B32;'>Cancelado</span>
            {% endif %}
          </td>
          <td>
            {{ pagamento.metodo_pagamento }}
          </td>
          <td>
            {{ pagamento.camiseta.tamanho }}
          </td>
          <td>
            {{ pagamento.data_hora_pagamento.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td scope='col'>
              R$ {{ pagamento.valor }}
          </td>
          <td scope='col'>
            {% if pagamento.arquivo_comprovante is not none%}
              <button type='button' title="Visualizar Comprovante" alt="Visualizar Comprovante" class="btn btn-default" onclick= "abrir_comprovante('{{ pagamento.arquivo_comprovante }}')"><i class="fa fa-file-invoice-dollar fa-lg"></i></button>
            {% endif %}
          </td>
          <td scope='col'>
            {% if pagamento.cancelado is sameas False and pagamento.efetuado is sameas False%}
              <button type='submit' name='cancelar' title="Cancelar Pagamento" alt="Cancelar Pagamento" class="btn btn-danger" value='{{ pagamento.id }}'>Cancelar Pagamento</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

<script>
  function abrir_comprovante(arquivo){
    url = '{{url_for("views.uploads", filename="")}}' + 'comprovantes/' + arquivo
    window.open(url)
  }
</script>

{% endblock %}
