{% extends "base.html" %}

{% block modal_login %}{% endblock %}

{% block styles %}

{{ super() }}
<link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content %}

<div class="d-flex" id="wrapper">

    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">{{ usuario.primeiro_nome }}</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for('users.dashboard') }}"
                class="list-group-item list-group-item-action">Dashboard</a>

            <a href="{{ url_for('users.dados') }}" class="list-group-item list-group-item-action">Dados</a>
            <a href="{{ url_for('users.alterar_usuario') }}" class="list-group-item list-group-item-action">Editar dados</a>
            <a href="{{ url_for('users.submeter_flag') }}" class="list-group-item list-group-item-action"> Cadastrar flags</a>

            {% if participante: %}

            <a href="{{ url_for('users.kit') }}" class="list-group-item list-group-item-action">Kit</a>

            <button style="outline: none;"
                class="list-group-item list-group-item-action dropdown-btn">Inscrições
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{{ url_for('users.inscricao_atividades') }}"
                    class="list-group-item list-group-item-action">Atividades</a>
                <a href="#" class="list-group-item list-group-item-action">Desafio de Programadores</a>
                <a href="#" class="list-group-item list-group-item-action">Hackaton</a>
            </div>

            {% else: %}
            <a href="{{ url_for('users.cadastro_participante') }}" class="list-group-item list-group-item-action">Inscrever-se</a>

            {% endif %}

            <button style="outline: none;"
                class="list-group-item list-group-item-action dropdown-btn">Gerenciamento
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{{ url_for('management.gerenciar') }}"
                    class="list-group-item list-group-item-action">Homepage</a>
                <a href="{{ url_for('management.vender_kits') }}" class="list-group-item list-group-item-action">Venda de kits</a>
                <a href="{{ url_for('management.listas') }}" class="list-group-item list-group-item-action">Listagem de participantes</a>
                <a href="{{ url_for('management.sortear') }}" class="list-group-item list-group-item-action">Sorteio de usuário</a>
                <a href="{{ url_for('management.gerar_url_conteudo') }}" class="list-group-item list-group-item-action">URL ministrante</a>
                <a href="{{ url_for('management.cadastro_flags') }}" class="list-group-item list-group-item-action"> Gerenciar Flags </a>
            </div>

            <a href="/admin" class="list-group-item list-group-item-action">Administração</a>
            <a href="{{url_for('views.logout')}}" class="list-group-item list-group-item-action">Logout</a>
        </div>
    </div>

    <div class="container-fluid">
        {% block sidebar_content %}{% endblock %}
    </div>

</div>

<script>

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("dropdown-btn-active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

</script>
{% endblock %}