{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block sidebar_content%}
<style>
    .help-block {
        color: red;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center pt-4">
            <h2>Cadastro no WIFI-VISITANTE</h2>
        </div>
        {% if cadastrado %}
        <div class="col-md-6 text-center pt-4">
            <h4>Você já está cadastrado na rede WIFI-VISITANTE!</h4>
	</div>
        {% else %}
	<div class="col-md-6 text-center pt-4">
            <h4>Insira suas informações aqui para fazer o cadastro na rede WIFI-VISITANTE!</h4>
	    <form method="POST" action="/wifi-visitante">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.cpf) }}
                {{ wtf.form_field(form.nome) }}
                {{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.recaptcha) }}
		<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	    </form>
	</div>
	<div class="col-md-8 text-center pt-4">
		<h5>Obs: Seu CPF será utilizado apenas para realizar o cadastro, e não será armazenado em nosso banco de dados.</h5>
	</div>
        {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#cpf').mask('000.000.000-00');
</script>
{% endblock %}
