{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row justify-content-center pt-1">
        <div class="col-md-8">
            <h3 class="text-center">Alterar camisetas de usuários</h3>
            <hr>
            <form method="POST" action="{{url_for('management.alterar_camiseta')}}">
                {% if sucesso == 's': %}
                <div class="alert alert-success" role="alert">
                    Alteração efetuada com sucesso.
                </div>
                {% elif sucesso == 'n' %}
                <div class="alert alert-danger" role="alert">
                    Erro! Sem unidades de {{camiseta.tamanho}} disponíveis.
                </div>
                {% endif %}
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.participante) }}
                {{ wtf.form_field(form.camiseta) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-50 mt-4">Alterar</button>
                </div>
                <br><br>
            </form>
        </div>
    </div>
</div>

{% endblock %}
