{% extends "base.html" %}
{% import "wtf.html" as wtf %}
{% block content %}

<div class="container">
    <div class="row justify-content-center pt-1">
        <div class="col-md-6">
            <h3 class="text-center">Cadastro de patrocinadores</h3>
            <form method="POST" action="/cadastro-participante">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.nome_empresa) }}
                {{ wtf.form_field(form.logo) }}
                {{ wtf.form_field(form.id_cota) }}
                {{ wtf.form_field(form.link_website) }}
                {{ wtf.form_field(form.ativo_site) }}
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </form>
            <br>
        </div>
    </div>
</div>

{% endblock %}