{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}


{% block sidebar_content %}
<div class="container">

	<div class="row pt-1">
		<div class="col-md-12 text-center">
			<h2>Camisetas</h2>
		</div>
	</div>

	<div class="row justify-content-center">
		<!--

			COMENTADO PORQUE A PESQUISA NAO ESTAVA FUNCIONANDO

			<div class="col-md-6">
			<div class="input-group ">
				<input name="filtro" class="form-control" id="filtro" type="text" placeholder="Pesquisar modelo">
				<span class="input-group-btn">
					<button id="buscar" class="btn btn-primary">
						<span class="fas fa-search"></span>
					</button>
				</span>
			</div>
		</div>
	
	-->
		<div class="col-md-12">
			<a href="/admin/camiseta/" class="btn btn-primary float-right">Nova camiseta</a>
		</div>
	</div>
	<div id="list" class="row pt-1">
		<div class="table-responsive col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tamanho</th>
						<th>Quantidade disponível</th>
						<th>Quantidade pedida</th>
					</tr>
				</thead>
				<tbody>
					{% for camiseta in camisetas %}
					<tr>
						<td>{{camiseta.id}}</td>
						<td>{{camiseta.tamanho}}</td>
						<td>{{camiseta.quantidade_restante}}</td>
						<td>{{camiseta.quantidade}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>

<script type="text/javascript">
	$("#buscar").click(function () {
		var nome = $("#filtro").val();
		$(location).attr('href', '/estoque-camisetas/' + nome);
	});
</script>

{% endblock %}