{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block sidebar_content %}
<div class="container">

    <div class="row justify-content-center pt-1">

        <div class="col-md-6">
            <h3 class="text-center">Cadastro de novas flags</h3>
            {% if cadastrado %}
                <h5>A Flag foi cadastrada com sucesso</h5>
            {% endif %}
            {% if desativada %}
                <h5>A Flag foi desativada com sucesso</h5>
            {% endif %}

            <form method="POST" action="{{ url_for('management.cadastro_flags') }}">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.flag) }}
                {{ wtf.form_field(form.pontos) }}
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
             </form>
            <br>
        </div>
	</div>

    <div id="list" class="row pt-4">
		<div class="table-responsive-md">
			<table class="table table-striped">
				<thead>
					<tr>
                        <th>Flag</th>
                        <th>Pontos</th>
                        <th>Ativa</th>
                        <th>Quantidade de utilizações</th>
                        <th>Ação</th>
					</tr>
				</thead>
				<tbody>
					{% for flag in flags %}
					<tr>
                        <td>{{flag.codigo}}</td>
                        <td>{{flag.pontos}}</td>
                        <td>{{flag.ativa}}</td>
                        <td>{{flag.quantidade_utilizada}}</td>
                        <td><a href="{{ url_for('management.cadastro_flags') }}/desativar/{{ flag.id }}">Desativar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>

{% endblock %}
