{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block metas %}

{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

{% endblock %}

{% block content %}
<style>
  .clipboard {
    background-color: #cccccc;
  }

  .email-confirmado {
    display: inline;
    color: #006400;
  }

  .email-nao-confirmado {
    display: inline;
    color: #8B0000;
  }

  .select2-selection__rendered {
    line-height: 31px !important;
  }

  .select2-container .select2-selection--single {
    height: 35px !important;
  }

  .select2-selection__arrow {
    height: 34px !important;
  }
</style>
<div class="container pt-1">
  <h2 class="text-center pb-2">URL para formulários do Conteúdo</h2>

  <form method="POST" id="form" action="{{url_for('management.gerar_url_conteudo')}}">
    {{ form.hidden_tag() }}

    <div class="row justify-content-center">
      <div class="col-md-6 form-group">
        <label class="control-label" for="email2">Insira o email do(a) ministrante</label>
        <div class='input-group'>
          <input type="text" class="form-control pb-1" id="email2" placeholder="name@example.com">
          <div class="text-right input-group-btn">
            <button id="email_adder" type="button" class="btn btn-primary">Adicionar ministrante</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        {{ wtf.form_field(form.tipo_atividade) }}
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 pt-2 pb-2" id='email-containerL'></div>
      <div class="col-md-6 pt-2 pb-2" id='email-containerR'></div>
    </div>

    <div class="row justify-content-center pt-3">
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-block">Gerar Nova URL</button>
      </div>
    </div>


    <div class="row justify-content-center pt-4" style="overflow-x: scroll; width:100%;">
      <div class="col-md-12">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Remover</th>
              <th scope="col">Editar</th>
              <th scope="col">Atividade</th>
              <th scope="col">Título</th>
              <th scope="col">Código da URL</th>
              <th scope="col">Emails</th>
            </tr>
          </thead>
          <tbody>
            {% for url in dict_urls %}
            <tr>
              <td scope="col"><button type='submit' class="btn btn-default" name='removido' value='{{ url.id }}'><i
                    class="fa fa-times"></i></button></td>
              <td scope="col">
                {% if url.titulo_atividade != '-' %}
                <button type='button' class="btn btn-default" onclick="editar('{{ url.url }}')">
                  <i class="fa fa-pencil-alt"></i>
                </button>
                {% endif %}</td>
              <td scope="col">{{ url.tipo }}</td>
              <td scope="col">{{ url.titulo_atividade }}</td>
              <td scope="col">

                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-link" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item">
                      <button type="button" class="btn"
                        data-clipboard-text="{{ url_root }}area-conteudo/cadastro-ministrante/{{url.codigo_url}}">
                        <i class="fa fa-clipboard mr-3" aria-hidden="true"></i>
                        Ministrante
                      </button>
                    </div>
                    <div class="dropdown-item">
                      <button type="button" class="btn"
                        data-clipboard-text="{{url.url}}"
                        aria-hidden=true>
                        <i class="fa fa-clipboard mr-3" aria-hidden="true"></i>
                        Atividade
                      </button>
                    </div>
                    <div class="dropdown-item">
                      <button type="button" class="btn"
                        data-clipboard-text="{{url.codigo_url}}">
                        <i class="fa fa-clipboard mr-3" aria-hidden="true"></i>
                        Código
                      </button>
                    </div>
                  </div>
                </div>

              </td>
              <td scope="col">
                {% for email in url.emails %}
                {% if not loop.last: %}
                {% if email.confirmado == True %}
                <div class='email-confirmado'>{{ email.email }}</div><br>
                {% else %}
                <div class='email-nao-confirmado'>{{ email.email }}</div><br>
                {% endif %}
                {% else: %}
                {% if email.confirmado == True %}
                <div class='email-confirmado'>{{ email.email }}</div>
                {% else %}
                <div class='email-nao-confirmado'>{{ email.email }}</div>
                {% endif %}
                {% endif %}
                {% endfor %}
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }

  email_count = 0;
  function validateEmail($email) {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    return emailReg.test($email);
  }

  function remover(num) {
    $('#email2' + parseInt(num)).remove();
    email_count = email_count - 1;
  }
  function editar(codigo) {
    window.open(codigo, '_blank');
  }

  $('#email_adder').click(function () {
    valor = $('#email2').val()
    if (valor != '' && validateEmail(valor)) {
      email_count = email_count + 1;
      $('#email2').val('');

      if (email_count % 2 == 1) {
        $("#email-containerL").append("<div class='input-group pt-2 pb-2' id='email2" + email_count.toString() +
          "'><span class='input-group-btn'><button type='button' class='btn btn-default' onclick='remover(" +
          email_count.toString() + ")'><i class='fa fa-times' aria-hidden='true'></i></button></span><input type='text' class='form-control' name='emails[]' value='" + valor +
          "' readonly='readonly'></div>");
      } else {
        $("#email-containerR").append("<div class='input-group pt-2 pb-2' id='email2" + email_count.toString() + "'><input type='text' class='form-control' name='emails[]' value='" + valor +
          "' readonly='readonly'><span class='input-group-btn'><button class='btn btn-default' onclick='remover(" +
          email_count.toString() + ")'><i class='fa fa-times' aria-hidden='true'></i></button></span></div>");
      }

    }
    else {
      alert('Entre com um email válido')
    }
  })

  $("#tipo_atividade").select2({
    language: "pt-BR"
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.btn');
  clipboard.on('success', function (e) {
    console.log(e);
  });
  clipboard.on('error', function (e) {
    console.log(e);
  });
</script>
{% endblock %}
