{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container pt-4">
  <h2 class="text-center pb-2">URL para formulários do Conteúdo</h2>

  <form method="POST" id="form" action="{{url_for('management.gerar_url_conteudo')}}">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="col-md-6 form-group">
        <label class="control-label" for="email2">Insira o email do(a) ministrante</label>
        <input type="text" class="form-control" id="email2" placeholder="name@example.com">
        <div class="col-md-12 m-0 p-0 text-right">
          <button id="email_adder" type="button" class="btn btn-primary">Adicionar ministrante</button>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        {{ wtf.form_field(form.tipo_atividade) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="pt-2 pb-2" id='email-container'></div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-25">Gerar Nova URL</button>

    <div class="row justify-content-center pt-4">
      <div class="col-md-12">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Remover</th>
              <th scope="col">Tipo da atividade</th>
              <th scope="col">Título da atividade</th>
              <th scope="col">Código da URL</th>
              <th scope="col">Emails</th>
            </tr>
          </thead>
          <tbody>
            {% for url in dict_urls %}
            <tr>
              <td scope="col"><button type='submit' class="btn btn-default" name='removido' value='{{ url.id }}'><i
                    class="fa fa-times" aria-hidden="true"></i></button></td>
              <td scope="col">{{ url.tipo }}</td>
              <td scope="col">{{ url.titulo_atividade }}</td>
              <td scope="col" class="col-md-6">
                <input type="text" readonly="readonly" class="w-75" value="{{ url.codigo_url }}" />
              </td>
              <td scope="col">
                {% for email in url.emails %}
                {{ email }},&nbsp
                {% endfor %}
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
<script>
  email_count = 0;
  function validateEmail($email) {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    return emailReg.test($email);
  }

  function remover(num) {
    $('#email2' + parseInt(num)).remove();
    email_count = email_count - 1;
  }

  $('#email_adder').click(function () {
    valor = $('#email2').val()
    if (valor != '' && validateEmail(valor)) {
      email_count = email_count + 1;
      $('#email2').val('');
      $("#email-container").append("<div class='input-group pt-2 pb-2'" + email_count.toString() +
        "'><span class='input-group-btn'><button class='btn btn-default' onclick='remover(" +
        email_count.toString() + ")'><i class='fa fa-times' aria-hidden='true'></i></button></span><input type='text' class='form-control' name='emails[]' value='" + valor +
        "' readonly='readonly'></div>");
    }
    else {
      alert('Entre com um email válido')
    }
  })
</script>
{% endblock %}

FAZER UM ENABLE = FALSE no javascript dos emails