{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block sidebar_content %}
<div class="container">
    <div class="row justify-content-center pt-1">
        <div class="col-md-12 text-center">
            <h1>Área Administrativa - {{ usuario.primeiro_nome }}</h1>
        </div>
    </div>
    <div class="row pt-3">
        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['CONTEUDO'].usuarios or usuario in permissoes['PATROCINIO'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="{{url_for('.gerar_url_conteudo')}}">
                <h4>Gerar URL para o cadastro de atividades e ministrantes</h4>
                <button type="submit" class="btn btn-primary">Gerar URL</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="">
                <h4>Envio de emails</h4>
                <button type="submit" class="btn btn-primary">Enviar email</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['NOTIFICACOES_APP'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="">
                <h4>Notificações</h4>
                <button type="submit" class="btn btn-primary">Enviar notificações</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['VENDA_PRESENCIAL'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="{{url_for('.vender_kits')}}">
                <h4>Venda de Kits</h4>
                <button type="submit" class="btn btn-primary">Vender kit</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['APROVAR_COMPROVANTES'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="">
                <h4>Pagamentos</h4>
                <button type="submit" class="btn btn-primary">Aprovar/rejeitar pagamentos</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['ALTERAR_CAMISETAS'].usuarios %}
        <div class="col-md-6 p-3">
            <div>
                <h4>Camisetas</h4>
                <a href="{{ url_for('.alterar_camiseta') }}">
                    <button type="button" class="btn btn-primary">Alterar reservas de camisetas</button>
                </a>
                <a href="{{ url_for('.estoque_camisetas') }}">
                    <button type="button" class="btn btn-primary">Controle de camisetas</button>
                </a>
            </div>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['GERAR_CRACHAS'].usuarios %}
        <div class="col-md-6 p-3">
            <div>
                <h4>Geração de crachás</h4>
                <a href="{{ url_for('views.constr') }}">
                    <button type="button" class="btn btn-primary">Gerar crachás</button>
                </a>
                <a href="{{ url_for('views.constr') }}">
                    <button type="button" class="btn btn-primary">Gerar um crachá</button>
                </a>
            </div>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['GERAR_LISTAS'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="{{url_for('.listas')}}">
                <h4>Geração de listas</h4>
                <button type="submit" class="btn btn-primary">Gerar Listas</button>
            </form>
        </div>
        {% endif %}

        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['SORTEAR'].usuarios %}
        <div class="col-md-6 p-3">
            <form action="{{url_for('.sortear')}}">
                <h4>Sortear participante presente</h4>
                <button type="submit" class="btn btn-primary">Sortear</button>
            </form>
        </div>
        {% endif %}
      
        {% if usuario in permissoes['ADMIN'].usuarios or usuario in permissoes['CONTEUDO'].usuarios %}
        <div class="col-md-6 p-3">
            <div>
                <h4>Flags</h4>
                <a href="{{ url_for('management.cadastro_flags') }}">
                    <button type="button" class="btn btn-primary">Gerenciar Flags</button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}