{% extends "users/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block metas %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% endblock %}

{% block content %}
<script>
  .fa{
    size:
  }
</script>
<div class="container pt-1">
  <h2 class="text-center pb-2" style="margin-top: 15px; margin-bottom: 20px;">Gerenciar comprovantes de pagamento</h2>
  <table class="table text-center">
     <thead><center><h4>Filtros</h4></center></thead>
    <tr>
      <td>Aprovados<input id='filtro_aprovados' type="checkbox" checked/></td>
      <td>Pendentes<input id='filtro_pendentes' type="checkbox" checked/></td>
      <td>Rejeitados<input id='filtro_rejeitados' type="checkbox" checked/></td>
    </tr>
  </table>
  <form method="POST" id='form'action="{{url_for('management.gerenciar_comprovantes')}}">
    {{ form.hidden_tag() }}
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Ação</th>
          <th scope="col">Rejeitar</th>
          <th scope="col">Preço</th>
          <th scope="col">Participante</th>
          <th scope="col">Comprovante</th>
        </tr>
      </thead>
      <tbody>
        {% for pagamento in pagamentos %}
        {% if pagamento.rejeitado is sameas true %}
          {% set status = 'rejeitados' %}
        {% elif pagamento.efetuado is sameas true %}
          {% set status = 'aprovados' %}
        {% else %}
          {% set status = 'pendentes' %}
        {% endif %}
        <tr class='{{ status }}'>
          <td scope='col'>
            {% if pagamento.rejeitado is sameas true %}
            <span style='color: #cc0000;'>Rejeitado</span>
            {% elif pagamento.efetuado is sameas true %}
              <span style='color: #008000;'>Aprovado</span>
            {% else %}
              <span style='color: #cca300;'>Pendente</span>
            {% endif %}
          </td>
            <td scope='col'>
              {% if pagamento.efetuado is sameas false %}
              <button title="Aprovar Pagamento" alt="Aprovar Pagamento" type='submit' class="btn btn-default" name='aprovar' value='{{ pagamento.id }}'>
                <i class="fas fa-check-circle fa-lg"></i></button>
              {% else %}
              <button title="Desaprovar Pagamento" alt="Desaprovar Pagamento" type='submit' class="btn btn-default" name='desaprovar' value='{{ pagamento.id }}'>
                <i class="fas fa-times-circle fa-lg"></i></button>
              {% endif %}
            </td>
            <td scope='col'>
              {% if pagamento.rejeitado is sameas false %}
              <button title="Rejeitar Pagamento" alt="Rejeitar Pagamento" type='submit' class="btn btn-default" name='rejeitar' value='{{ pagamento.id }}'>
                <i class="fas fa-ban fa-lg"></i></button>
              {% else %}
              <button title="Autorizar Pagamento" alt="Autorizar Pagamento" type='submit' class="btn btn-default" name='autorizar' value='{{ pagamento.id }}'>
                <i class="fas fa-chevron-circle-left fa-lg"></i></button>
              {% endif %}
            </td>
            <td scope='col'>
              R$ {{ pagamento.valor }}
            </td>
            <td scope='col'>
              {{ pagamento.participante.usuario.primeiro_nome }} {{ pagamento.participante.usuario.sobrenome }}
            </td>
            <td scope='col'>
              <button type='button' title="Visualizar Comprovante" alt="Visualizar Comprovante" class="btn btn-default" onclick= "abrir_comprovante('{{ pagamento.arquivo_comprovante }}')"><i class="fa fa-file-invoice-dollar fa-lg"></i></button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

<script>
  function abrir_comprovante(arquivo){
    url = '{{url_for("views.uploads", filename="")}}' + 'comprovantes/' + arquivo
    window.open(url)
  }

  $(document).ready(function(){
    if ($('#filtro_aprovados').is(':checked')){
        $('.aprovados').show();
    }
    else{
        $('.aprovados').hide();
    }
    if ($('#filtro_pendentes').is(':checked')){
        $('.pendentes').show();
    }
    else{
        $('.pendentes').hide();
    }
    if ($('#filtro_rejeitados').is(':checked')){
        $('.rejeitados').show();
    }
    else{
        $('.rejeitados').hide();
    }
  });

  $('#filtro_aprovados').change(function() {
      if ($('#filtro_aprovados').is(':checked')){
          $('.aprovados').show();
      }
      else{
          $('.aprovados').hide();
      }
  });

  $('#filtro_pendentes').change(function() {
      if ($('#filtro_pendentes').is(':checked')){
          $('.pendentes').show();
      }
      else{
          $('.pendentes').hide();
      }
  });

  $('#filtro_rejeitados').change(function() {
      if ($('#filtro_rejeitados').is(':checked')){
          $('.rejeitados').show();
      }
      else{
          $('.rejeitados').hide();
      }
  });
</script>

{% endblock %}
