{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row justify-content-center pt-1">
        <div class="col-md-8">
            <h3 class="text-center">Gerar listas de participantes</h3>
            <form method="POST" action="{{ form.action }}">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.atividades) }}
                {{ wtf.form_field(form.tipo) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary p-3">Gerar lista</button>
                </div>
            </form>
        </div>
        {% if lista != None and tipo == 'inscritos'%}
        <div class="col-md-8">
            <h3 class="text-center">Lista de inscritos em {{atividade}}</h3>
            {% for x in lista %}
                <p>#{{x.id}} - {{x.usuario.nome}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if lista != None and tipo == 'presentes'%}
        <div class="col-md-8">
            <h3 class="text-center">Lista de inscritos presentes em {{atividade}}</h3>
            {% for x in lista %}
                <p>#{{x.id}} - {{x.usuario.nome}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}