{% extends "base.html" %}
{% import "wtf.html" as wtf %}
{% block content %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center">Venda de KITs</h3>
            <hr>
            <form method="POST" action="/venda-kits">
                <div class="form-group">
                    <div class="alert alert-info" role="alert">
                        {{alerta}}
                    </div>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.participante) }}
                    {{ wtf.form_field(form.camiseta) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Confirmar venda</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
