:root {
    --bg-color: #fff;
    --border-color: #00000020;
}

[data-theme=dark] {
    --bg-color: #00141a;
    --border-color: #ffffff70;
}

.frontside {
    position: relative;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    /* background: white; */
}   

.img-equipe {
    width: 10rem;
    height: 10rem;
    object-fit: cover; 
}

.card {
    transition: 0.7s;
    background-color: var(--bg-color);
    border: solid 1px var(--border-color);
}

.card:hover .img-equipe {
    display: none;
    transition: 0.7s;
}

.card:hover .desc-membro {
    -webkit-animation: fadeIn 0.7s;
    -moz-animation: fadeIn 0.7s;
    -o-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
    display: block;
}

.diretor {
    border: solid 1px rgba(0, 196, 163, 0.424);
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.titulo-backside, .desc-membro {
    display: none;
}

.backside .card p {
    font-size: 1rem;
}

.frontside .card .card-title, .backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.bg-diretor {
    background-color: #000000;
}