body {
  background-image: linear-gradient(to right, #008cb5, #00cfa1);
}

.container {
  background-color: #fff;
  width: 50%;
}

@media(max-width: 990px) {
  .container {
    background-color: #fff;
    width: 80%;
  }
}

@media(max-width: 990px) and (orientation: landscape) {
  .container {
    padding-top: 15vh;
  }
}

a {
  color: #008cb5;
}

a:hover {
  color: #00cfa1;
}

.btn {
  width: 100%;
  font-weight: bold;
  border: none;  
}

.btn:hover {
  background-image: linear-gradient(to right, #008cb5, #00cfa1);
}

.help-block{
  color:red;
}