.form-control {
  border: 1px solid #ced4da88;
  color: var(--font-color);
  background-color: var(--sidebar-color);
}

.form-control:disabled, .form-control[readonly] {
  color: #777777;
  background-color: var(--bg-color);
}

.select2-selection, .select2-container, .select2-results__option, #select2-tipo_atividade-container {
  color: var(--font-color) !important;
  background-color: var(--bg-color) !important;
}

a {
  color: #008cb5;
}

a:hover {
  color: #00cfa1;
}

.btn {
  width: 100%;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #00cfa1;
}

.help-block {
  color: red;
}

@media(orientation: portrait) and (max-width: 339px) {
  .recaptcha-responsive {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media(orientation: portrait) and (min-width: 340px) and (max-width: 374px) {
  .recaptcha-responsive {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media(orientation: portrait) and (min-width: 375px) and (max-width: 450px) {
  .recaptcha-responsive {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}