html {
  height: 100%;
  background-image: linear-gradient(to right, #008cb5, #00cfa1);
}

body {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.form-control {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

.btn {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
