 :root {
    /* cores variáveis da paleta */
    --color0: ;
    --color1: ;
    --color2: ;
    --color3: ;
    --color4: ;
    --color5: ;
    --color6: ;
    --color7: ;
    --color8: ;
    --color9: ;
    --color10: ;
    --color11: ;
    --color12: ;
    --color13: ;
    --color14: ;
    --color15: ;
}

.carousel .carousel-item {
    height: 100vh;
    width:  100vw;
    object-fit: fill;
    text-shadow: 1px 1px 5px black;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
 
header a {
	color: #FFFFFF;
	font-size: 14.5px;
	font-family: 'Clear Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
}

footer {
    background-color: #212121;
}

footer ul li {
    padding: 1%;
}

footer ul li a {
    color: #FFFFFF;
}

footer ul li a:hover {
    color: #00CFA1;
}

#barrinha {
    background-image: linear-gradient(to right, #008CB5, #00CFA1);
    padding: 0.5%;
}