@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);
:palette {
    /* cores variáveis da paleta */
    --color0: ;
    --color1: ;
    --color2: ;
    --color3: ;
    --color4: ;
    --color5: ;
    --color6: ;
    --color7: ;
    --color8: ;
    --color9: ;
    --color10: ;
    --color11: ;
    --color12: ;
    --color13: ;
    --color14: ;
    --color15: ;
}

.modal-open .select2-dropdown {
z-index: 10060;
}
.modal-open .select2-close-mask {
z-index: 10055;
}

.help-block{
  color:#a94442;
}
body{
  padding:50px;
}
table, .table{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
element {

}
.table > tbody > tr > td, .table > tbody > tr > th, .table >
tfoot > tr > td, .table > tfoot > tr > th, .table > thead >
tr > td, .table > thead > tr > th{
  border: 0px solid black;
}

.table > tbody > tr >.left{
  padding-right:20px;
  width: 50%;
}
.table > tbody > tr >.right{
  padding-left:20px;
  width: 50%;
}

.form-group{
  margin-top:0 ;
  display: block;
  position:relative;

}
