@font-face {
    /* Variante regular de FontAwesome */
    font-family: FontAwesomeRegular;
    src: url(../fonts/fa-regular-400.woff2);
}

@font-face {
    /* Variante solid de FontAwesome */
    font-family: FontAwesomeSolid;
    src: url(../fonts/fa-solid-400.woff2);
}

@font-face {
    /* Variante brands de FontAwesome */
    font-family: FontAwesomeBrands;
    src: url(../fonts/fa-brands-400.woff2);
}


:palette {
    /* cores variáveis da paleta */
    --color0: ;
    --color1: ;
    --color2: ;
    --color3: ;
    --color4: ;
    --color5: ;
    --color6: ;
    --color7: ;
    --color8: ;
    --color9: ;
    --color10: ;
    --color11: ;
    --color12: ;
    --color13: ;
    --color14: ;
    --color15: ;
}
