h1, h2, h3, h4, h5, h6, span, tr, i {
    color: var(--font-color);
}

.bg-dark tr {
    color: #f5f5f5;
}

#sidebar-wrapper, .list-group-item {
    background-color: var(--sidebar-color);
}

.list-group-item-action {
    border: 1px solid var(--sidebar-border);
    color: var(--font-color);
}

.dropdown-container .list-group-item-action {
    border: none;
}

.list-group .list-group-item-action:hover, .list-group .list-group-item-action:focus {
    color: var(--hover-font-color);
    background-color: var(--sidebar-hover-color);
}

.border-right {
    border-right: 1px solid var(--sidebar-border) !important;
}

.form-control {
    border: 1px solid #ced4da88;
    color: var(--font-color);
    background-color: var(--sidebar-color);
}

.form-control:disabled, .form-control[readonly] {
    color: #777777;
    background-color: var(--bg-color);
}

.select2-selection, .select2-container, .select2-results__option, #select2-tipo_atividade-container {
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
}

body {
    overflow-x: hidden;
}

.circle {
    color: var(--font-color);
    background-color: var(--sidebar-border);
    z-index: 2;
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    position: fixed;
    outline: none;
    border: none;
}

#btn-open {
    display: inline-block;
}

#btn-close {
    display: none;
    margin-left: 15.5rem;
}

#sidebar-wrapper {
    position: absolute;
    display: none;
    z-index: 2;
    min-height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#wrapper {
    z-index: 1;
    position: relative;
    min-height: 100vh;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.dropdown-container {
    display: none;
}

.dropdown-container a {
    padding-left: 12%;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        z-index: 1;
        display: inline-block;
        position: relative;
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    #btn-open, #btn-close {
        display: none;
    }
}
