<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin' rel='stylesheet' type='text/css' />
</head>

<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
     <div style="padding:0;margin-left: auto;margin-right: auto;margin-bottom: 0px;margin-top:0px;max-width: 550px;min-width:222px;width:auto;">
       <img width="222px" style="padding:0;display: block; margin-left: auto; margin-right: auto; margin-bottom: 40px; margin-top:10px; width: 222px;" src="https://i.ibb.co/TBntpqn/colorida-completa.png"></img></div>
     <hr style="border-style: solid; color:#cccccc; max-width:550px;">
   </td>
  </tr>
  <tr>
    <td>
      <div style="padding:0;display: block;margin-left: auto;margin-right: auto;margin-bottom: 22px;margin-top:10px;max-width: 550px;width:auto;text-align:center;font-family: 'Ubuntu', Helvetica,Arial,sans-serif;font-weight:bold;font-size:20px;">
        {% block titulo %}
        {% endblock %}
      </div>
    </td>
  <tr>
  <tr>
    <td>
      <div style="padding:0;display: block;margin-left: auto;margin-right: auto;margin-bottom: 10px;margin-top:0;max-width: 550px;width:auto;font-family: 'Ubuntu', Helvetica,Arial,sans-serif;font-weight:normal;font-size:16px;color:#000000;">
        {% block saudacao %}
        {% endblock %}
      </div>
    </td>
  <tr>
  <tr>
    <td>
      <div style="padding:0;display: block;margin-left: auto;margin-right: auto;margin-bottom: 10px;margin-top:0;max-width: 550px;width:auto;font-family: 'Ubuntu', Helvetica,Arial,sans-serif;font-weight:normal;font-size:16px;color:#000000;">
        {% block conteudo %}
        {% endblock %}
      </div>
      <hr style="border-style: solid; color:#cccccc; margin-top:40px;max-width:550px;">
    </td>
  <tr>
  <tr>
    <td>
      <div style="padding:0;display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;margin-top:10px;max-width: 550px;width:auto;font-family: Ubuntu, Helvetica,Arial,sans-serif;;font-weight:normal;font-size:16px;color:#bfbfbf;">
      {% block footer %}
      {% endblock %}
      </div>
      <div style="padding:0;margin-left: auto;margin-right: auto;margin-bottom: 0px;margin-top:0px;max-width: 550px;min-width:222px;width:auto;">
        <img width="222px" style="padding:0;display: block;margin-left: 0;margin-right: 0;margin-bottom: 40px;margin-top:10px;width: 132px;" src="https://i.ibb.co/TBntpqn/colorida-completa.png"></img></div>
    </td>
    <tr>
 </table>
</body>
</html>
