// Variables
$secomp1: #008cb5 !default; // little blue
$secomp2: #00cfa1 !default; // light aqua
$secomp3: #00242F !default; // dark blue
$secomp4: #ff305e !default; // secomp2 inverted
$white: #fff !default;
$white70: rgba(255, 255, 255, 0.7) !default;
$dark-gray: #212121 !default;

:root {
  --primary-color: #008cb5;
  --secondary-color: #00cfa1;
  --font-color: #424242;
  --bg-color: #fff;
  --bg-dark: #001014;
  --hover-color: #ddd;
  --footer-color: #001014;
}

[data-theme="dark"] {
  --primary-color: #00465c;
  --secondary-color: #ff305d;
  --font-color: #e1e1ff;
  --bg-color: #0d1314;
  --bg-dark: #152125;
  --hover-color: #333;
  --footer-color: #00080a;
}
