// Forms scss file style
@charset "UTF-8";
@import "variables";
@import "mixins";

body {
  @include main-gradient;
}

.container {
  background-color: $white;
  min-height: 100vh;
}

@media (max-width: 990px) {
  .container {
    background-color: $white;
    width: 80%;
  }
}

@media (max-width: 990px) and (orientation: landscape) {
  .container {
    padding-top: 15vh;
  }
}

a {
  color: #008cb5;
}

a:hover {
  color: #00cfa1;
}

.btn {
  font-weight: bold;
  border: none;
  &:hover {
    @include main-gradient;
  }
}

.help-block {
  color: red;
}

@media (orientation: portrait) and (max-width: 339px) {
  .recaptcha-responsive {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media (orientation: portrait) and (min-width: 340px) and (max-width: 374px) {
  .recaptcha-responsive {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media (orientation: portrait) and (min-width: 375px) and (max-width: 450px) {
  .recaptcha-responsive {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
