// Forms scss file style
@charset "UTF-8";
@import "variables";
@import "mixins";

body {
  @include main-gradient;
}

.container {
  background-color: $white;
  min-height: 100vh;
}

@media (max-width: 990px) {
  .container {
    background-color: $white;
    width: 80%;
  }
}

@media (max-width: 990px) and (orientation: landscape) {
  .container {
    padding-top: 15vh;
  }
}

a {
  color: #008cb5;
}

a:hover {
  color: #00cfa1;
}

.btn {
  font-weight: bold;
  border: none;
  &:hover {
    @include main-gradient;
  }
}

.help-block {
  color: red;
}