// Main scss for secomp web site
@charset "UTF-8";
@import "variables";
@import "mixins";

#content {
  background-color: var(--bg-color);
  color: var(--font-color);
}

// Style switch
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: auto 0 auto 0;
  height: 15px;
  width: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $dark-gray;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
// end

// Rules
header {
  @include main-gradient;
  a {
    font: {
      weight: 600;
    }
    color: $white;
    @include main-font;
    &:hover {
      color: $white70;
    }
  }
}

#content {
  min-height: 75vh;
  padding-top: 53px;
}

.bg-gradient-secomp {
  @include main-gradient;
}
.btn {
  border: #00000000;
}

.btn-primary {
  background-color: $secomp1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: $secomp2 !important;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.carousel {
  &-item {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    text-shadow: 1px 1px 5px black;
  }
}

.dropdown {
  &-menu a {
    font-size: 12px;
  }
  &-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: visible;
  }
}

footer {
  background-color: $dark-gray;
  ul li {
    padding: 1%;
    a {
      color: $white;
      &:hover {
        color: $secomp2;
      }
    }
  }
}

.sobre-img {
  object-fit: cover;
  max-height: 70vh;
  width: 100vh;
}

/* Imagens com texto em cima */
.overlay {
  background-color: #000000;
  position: relative;
}

.opac {
  filter: opacity(0.4);
}

.overlay-text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* fim-imagens */

#barrinha {
  @include main-gradient;
  padding: 0.5%;
}

#nav-logo {
  object-fit: contain;
}

#video {
  height: 80vh;
}
