{% extends "participantes/sidebar.html" %}

{% block sidebar_content %}

<div class="container">

    <div class="row justify-content-center pt-1">
        <div class="col-md-12 text-center">
            <h2>Dados Pessoais</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-borderless">
                <thead class="thead bg-dark text-white">
                    <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Nome</th>
                        <td>{{ usuario.primeiro_nome + ' ' + usuario.sobrenome }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Senha</th>
                        <td><a href="{{url_for('.alterar_senha')}}">Alterar senha</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Data de nascimento</th>
                        <td>{{ usuario.data_nascimento }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cidade</th>
                        <td>{{ usuario.cidade }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Curso</th>
                        <td>{{ usuario.curso.nome}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Instituição</th>
                        <td>{{ usuario.instituicao.nome }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
