{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<style>
  .tooltip1 {
    position: relative;
    display: inline-block;
  }

  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width:500px;
    background-color: black;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 9px 5px 9px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  @media (max-width:550px){
    .tooltip1 .tooltiptext1 {
      visibility: hidden;
      width:250px;
      background-color: black;
      color: #fff;
      text-align: justify;
      border-radius: 6px;
      padding: 5px 9px 5px 9px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
  }

  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
  }
</style>

<div class="container pt-4 pb-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      {% if atividade.titulo is none: %}
        <h2 class="text-center">Cadastro de Minicurso</h2>
      {% else %}
        <h2 class="text-center">Editar Minicurso: {{ atividade.titulo }}</h2>
      {% endif %}

      <form method="POST" action="{{url_for('conteudo.cadastro_minicurso', codigo=codigo)}}"
            enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.titulo) }}
        {{ wtf.form_field(form.descricao) }}
        {{ wtf.form_field(form.pre_requisitos) }}
        {{ wtf.form_field(form.planejamento) }}
        {{ wtf.form_field(form.apresentacao_extra) }}
        {{ wtf.form_field(form.material) }}

        <h4 class="pt-2">Para que a organização possa auxiliar da melhor maneira possível,
          preparando os laboratórios e evitando eventuais problemas,
          pedimos que você nos informe abaixo todos os
          requisitos de hardware e software
          do minicurso.</h4>
        <h5 class="pb-3">Quanto mais detalhes, melhor para podermos preparar tudo! (:</h5>
        {{ wtf.form_field(form.requisitos_dependencias) }}
        {{ wtf.form_field(form.requisitos_bibliotecas_pacotes) }}
        {{ wtf.form_field(form.requisitos_ide) }}
        {{ wtf.form_field(form.requisitos_sistema) }}
        {{ wtf.form_field(form.requisitos_observacoes) }}
        {{ wtf.form_field(form.requisitos_github) }}
        {{ wtf.form_field(form.requisitos_hardware) }}
        {{ wtf.form_field(form.dicas_instalacao) }}
        {{ wtf.form_field(form.observacoes) }}
        <a href="{{ url_for('views.protected', filename='juridic/termo_condicoes_inscricao.pdf') }}" target="_blank">
          Termo e Condições de Inscrição</a>
        {{ wtf.form_field(form.confirmacao) }}

        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    </div>
    <script>

      $("label[for='descricao']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Breve descrição do minicurso, a ser utilizada na divulgação.</span></div>');
      $("label[for='pre_requisitos']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Liste aqui quais são os pré-requisitos recomendados aos participantes que desejarem se inscrever no minicurso.</span></div>');
      $("label[for='planejamento']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Descrição (o mais detalhada possível) da estrutura do minicurso, ou seja, a distribuição em que os conteúdos serão aplicados, bem como o tempo reservado para cada um destes. Vale destacar a recomendação para que distribua-se ½ teórico e ½ prático. Informação apenas para organização interna, a qual não será utilizada para divulgação.</span></div>');
      $("label[for='apresentacao_extra']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Pequena apresentação (não obrigatória) a ser preparada e enviada previamente, a qual não necessite de alguém para apresentá-la. Será exibida aos participantes em caso de algum imprevisto, para evitar descontentamentos por parte do público. Caso não seja necessária, o ministrante pode optar por utilizá-la no minicurso ou enviar posteriormente aos participantes como um adendo.</span></div>');
      $("label[for='material']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Se possível, envie-nos com antecedência os materiais a serem utilizados no minicurso (slides, vídeos, etc.)</span></div>');
      $("label[for='observacoes']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Deixe aqui alguma observação ou informação que julgar necessária.</span></div>');
      $("label[for='requisitos_dependencias']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Especifique todos os programas e dependências que serão usados no minicurso. Para evitar problemas, especifique também as versões desses programas, caso tenha alguma preferência. Exemplo: git, docker, elixir v1.9.1, phoenix v1.4.9, etc...</span></div>');
      $("label[for='requisitos_bibliotecas_pacotes']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Especifique todas as bibliotecas e pacotes necessários. Para evitar problemas, especifique também as versões desses pacotes e/ou bibliotecas.<br>Exemplo: Pacotes python3: flask, flask_login, flask_migrate, flask_admin, etc...</span></div>');
      $("label[for='requisitos_ide']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Especifique alguma IDE ou editor de texto de sua preferência. Caso não tenha uma preferência digite: Nenhum.<br>Exemplo: Atom, Sublime, Visual Studio Code, PyCharm, CodeBlocks, etc...</span></div>');
      $("label[for='requisitos_sistema']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Se o minicurso necessita que os participantes utilizem algum sistema operacional específico informe neste campo. Caso contrário digite: Nenhum.<br>Exemplo: Ubuntu, Kali Linux, Windows 10, etc...</span></div>');
      $("label[for='requisitos_observacoes']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Digite aqui alguma observação a respeito desses requisitos que julgar relevante ou que possa nos auxiliar.</span></div>');
      $("label[for='requisitos_github']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">No caso de existir um repositório remoto no github ou em outro site para códigos e projetos a serem desenvolvidos no decorrer do minicurso, digite aqui o link desse repositório.</span></div>');
      $("label[for='requisitos_hardware']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Especifique aqui no caso do minicurso envolver algum tipo de hardware específico</span></div>');
      $("label[for='dicas_instalacao']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Especifique aqui alguma dica ou informação que possa nos auxiliar na instalação desses softwares :)</span></div>');

      {% if atividade.titulo is not none %}
      $('#titulo').val('{{atividade.titulo}}');
      {% endif %}
      {% if atividade.descricao is not none %}
      $('#descricao').val('{{atividade.descricao}}');
      {% endif %}
      {% if atividade.info_minicurso.pre_requisitos is not none %}
      $('#pre_requisitos').val('{{atividade.info_minicurso.pre_requisitos}}');
      {% endif %}
      {% if atividade.info_minicurso.planejamento is not none %}
      $('#planejamento').val('{{atividade.info_minicurso.planejamento}}');
      {% endif %}
      {% if atividade.info_minicurso.apresentacao_extra is not none %}
      $('#apresentacao_extra').val('{{atividade.info_minicurso.apresentacao_extra}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_ide is not none %}
      $('#requisitos_ide').val('{{atividade.info_minicurso.requisitos_ide}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_bibliotecas_pacotes is not none %}
      $('#requisitos_bibliotecas_pacotes').val('{{atividade.info_minicurso.requisitos_bibliotecas_pacotes}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_dependencias is not none %}
      $('#requisitos_dependencias').val('{{atividade.info_minicurso.requisitos_dependencias}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_sistema is not none %}
      $('#requisitos_sistema').val('{{atividade.info_minicurso.requisitos_sistema}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_observacoes is not none %}
      $('#requisitos_observacoes').val('{{atividade.info_minicurso.requisitos_observacoes}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_github is not none %}
      $('#requisitos_github').val('{{atividade.info_minicurso.requisitos_github}}');
      {% endif %}
      {% if atividade.info_minicurso.requisitos_hardware is not none %}
      $('#requisitos_hardware').val('{{atividade.info_minicurso.requisitos_hardware}}');
      {% endif %}
      {% if atividade.info_minicurso.dicas_instalacao is not none %}
      $('#dicas_instalacao').val('{{atividade.info_minicurso.dicas_instalacao}}');
      {% endif %}
      {% if atividade.observacoes is not none %}
      $('#observacoes').val('{{atividade.observacoes}}');
      {% endif %}

    </script>
    {% endblock %}
