{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Cadastro de Feira de Projetos</h2>

      <form method="POST" action="{{url_for('conteudo.cadastro_feira_projetos', codigo=codigo)}}">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.titulo) }}
        {{ wtf.form_field(form.area) }}
        {{ wtf.form_field(form.descricao) }}
        {{ wtf.form_field(form.necessidades) }}
        {{ wtf.form_field(form.planejamento) }}
        {{ wtf.form_field(form.observacoes) }}

        <button type="submit" class="btn btn-primary w-50 m-2">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<script>
  $("#areas").select2();
</script>
{% endblock %}