{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container pt-4 pb-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center">Cadastro de Palestra</h2>
      <form method="POST" action="{{url_for('conteudo.cadastro_palestra', codigo=codigo)}}">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.titulo) }}
        {{ wtf.form_field(form.area) }}
        {{ wtf.form_field(form.descricao) }}
        {{ wtf.form_field(form.requisitos_tecnicos) }}
        {{ wtf.form_field(form.planejamento) }}
        {{ wtf.form_field(form.apresentacao_extra) }}
        {{ wtf.form_field(form.material) }}
        {{ wtf.form_field(form.perguntas) }}
        {{ wtf.form_field(form.observacoes) }}
        <a href="{{ url_for('static', filename='juridic/termo_condicoes_inscricao.pdf') }}" target="_blank">
          Termo e Condições de Inscrição</a>
        {{ wtf.form_field(form.confirmacao) }}

        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<script>
  $("#areas").select2();
</script>
{% endblock %}