{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<div class="pad-inicio container pb-2">
  <h1>Cadastro de Mesa Redonda</h1>
  <form method="POST" action="{{url_for('conteudo.cadastro_mesa_redonda', codigo=codigo)}}">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.titulo) }}
    {{ wtf.form_field(form.area) }}
    {{ wtf.form_field(form.descricao) }}
    {{ wtf.form_field(form.observacoes) }}

    <button style="width: 20%" type="submit" class="btn btn-primary btn-block bg-gradient-secomp mt-3 mb-3">Cadastrar</button>
  </form>
</div>

{% endblock %}
