{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<style>
  .tooltip1 {
    position: relative;
    display: inline-block;
  }

  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width:500px;
    background-color: black;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 9px 5px 9px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  @media (max-width:550px){
    .tooltip1 .tooltiptext1 {
      visibility: hidden;
      width:250px;
      background-color: black;
      color: #fff;
      text-align: justify;
      border-radius: 6px;
      padding: 5px 9px 5px 9px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
  }

  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
  }
</style>

<div class="container pt-4 pb-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center">Cadastro de Palestra</h2>
      <form method="POST" action="{{url_for('conteudo.cadastro_palestra', codigo=codigo)}}"
        enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.titulo) }}
        {{ wtf.form_field(form.descricao) }}
        {{ wtf.form_field(form.requisitos_tecnicos) }}
        {{ wtf.form_field(form.planejamento) }}
        {{ wtf.form_field(form.apresentacao_extra) }}
        {{ wtf.form_field(form.material) }}
        {{ wtf.form_field(form.perguntas) }}
        {{ wtf.form_field(form.observacoes) }}
        <a href="{{ url_for('static', filename='juridic/termo_condicoes_inscricao.pdf') }}" target="_blank">
          Termo e Condições de Inscrição</a>
        {{ wtf.form_field(form.confirmacao) }}

        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<script>

  $("#areas").select2({
    language: "pt-BR"
  });

  $("label[for='descricao']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Breve descrição da palestra, a ser utilizada na divulgação.</span></div>');
  $("label[for='requisitos_tecnicos']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Durante o evento, a SECOMP disponibiliza um computador e um projetor para realização das palestras. Caso deseje utilizar seu próprio computador ou necessite de algum recurso e/ou equipamento específico, liste-os aqui.</span></div>');
  $("label[for='planejamento']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Descrição (o mais detalhada possível) da estrutura da palestra, ou seja, a distribuição em que os conteúdos serão apresentados, bem como o tempo reservado para cada um destes. Informação apenas para organização interna, a qual não será utilizada para divulgação.</span></div>');
  $("label[for='material']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Se possível, envie-nos com antecedência os materiais a serem utilizados na palestra.</span></div>');
  $("label[for='perguntas']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Buscando incentivar a presença e participação do público de forma dinâmica, solicitamos que envie algumas perguntas a respeito da palestra. Estas serão utilizadas em um questionário aplicado a platéia, o qual premiará o vencedor.</span></div>');
  $("label[for='observacoes']").prepend('<div class="tooltip1"><img src="{{url_for("static", filename="images/info-icon.svg")}}" width=16>&nbsp;<span class="tooltiptext1">Deixe aqui alguma observação ou informação que julgar necessária.</span></div>');
</script>
{% endblock %}
