{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}

<div class="container pt-4 pb-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center">Dados de Hospedagem e Transporte</h2>

      <form method="POST" action="{{url_for('conteudo.dados_hospedagem_transporte')}}">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.cidade_origem) }}
        {{ wtf.form_field(form.data_chegada_sanca) }}
        {{ wtf.form_field(form.data_partida_sanca) }}
        {{ wtf.form_field(form.transporte_ida_volta) }}
        {{ wtf.form_field(form.opcoes_transporte_ida_volta) }}
        {{ wtf.form_field(form.transporte_sanca) }}
        {{ wtf.form_field(form.opcoes_transporte_sanca) }}
        {{ wtf.form_field(form.hospedagem) }}
        {{ wtf.form_field(form.necessidades_hospedagem) }}
        {{ wtf.form_field(form.observacoes) }}
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function ($) {
    $('#data_chegada_sanca').mask('00/00/0000');
    $('#data_partida_sanca').mask('00/00/0000');

    if (!(('#transporte_ida_volta').checked)) {
      $('label[for="opcoes_transporte_ida_volta"]').hide();
      $('#opcoes_transporte_ida_volta').hide();
    }

    $('#transporte_ida_volta').change(function () {
      if (this.checked) {
        $('label[for="opcoes_transporte_ida_volta"]').show();
        $('#opcoes_transporte_ida_volta').show();
      } else {
        $('label[for="opcoes_transporte_ida_volta"]').hide();
        $('#opcoes_transporte_ida_volta').hide();
      }
    });


    if (!(('#transporte_sanca').checked)) {
      $('label[for="opcoes_transporte_sanca"]').hide();
      $('#opcoes_transporte_sanca').hide();
    }

    $('#transporte_sanca').change(function () {
      if (this.checked) {
        $('label[for="opcoes_transporte_sanca"]').show();
        $('#opcoes_transporte_sanca').show();
      } else {
        $('label[for="opcoes_transporte_sanca"]').hide();
        $('#opcoes_transporte_sanca').hide();
      }
    });


    if (!(('#hospedagem').checked)) {
      $('label[for="necessidades_hospedagem"]').hide();
      $('#necessidades_hospedagem').hide();
    }

    $('#hospedagem').change(function () {
      if (this.checked) {
        $('label[for="necessidades_hospedagem"]').show();
        $('#necessidades_hospedagem').show();
      } else {
        $('label[for="necessidades_hospedagem"]').hide();
        $('#necessidades_hospedagem').hide();
      }
    });
  });
</script>

{% endblock %}