{% extends "base.html" %}

{% block content %}
<div class="pad-inicio container pb-2">
  <ul>
    <li><a href="{{url_for('conteudo.gerar_url_cadastro')}}">Gerar URL de cadastro de ministrante</a></li>
    <li><a href="">Informações de Palestra</a></li>
    <li><a href="">Informações de Minicurso</a></li>
    <li><a href="">Informações de Palestra</a></li>
    <li><a href="">Informações de Feira de Pesquisa</a></li>
    <li><a href="">Informações de Ministrantes</a></li>
  </ul>
</div>
{% endblock %}
