{% extends "base.html" %}

{% block title %}SECOMP UFSCar - Erro 404{% endblock %}

{% block content %}

<div class="container pt-1 pb-3">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="pt-1">Erro 404 - Página não encontrada</h1>
            <h3 class="pt-1">A página que você está tentando acessar não foi encontrada.</h3>
            <img style="max-width: 90vw;" class="pt-2" id="error-dog"
                src="{{ url_for('static', filename='images/404.jpg') }}" alt="Imagem do erro 404">
        </div>
    </div>
</div>
{% endblock %}