{% extends "base.html" %}

{% block title %}SECOMP UFSCar - Erro 500{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center pt-1">
        <div class="col-md-12 text-center">
            <h1>Erro 500 - Erro interno no servidor</h1>
            <h3>O servidor encontrou um erro interno ou configuração inválida e não foi possível completar sua
                requisição.</h3>
            <a>
                <img id="error-dog" src="{{ url_for('static', filename='images/500.jpg') }}" alt="Imagem do erro 500">
            </a>
        </div>
    </div>
</div>
{% endblock %}