{% extends "base.html" %}
{% import "wtf.html" as wtf %}
{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br>
        <center><h3>Alterar camisetas de usuários</h3></center>
        <hr>
        <form method="POST" action="/alterar-camiseta">
            {% if sucesso == 's': %}
            <div class="alert alert-success" role="alert">
                Alteração efetuada com sucesso.
            </div>
            {% elif sucesso == 'n' %}
            <div class="alert alert-danger" role="alert">
                Erro! Sem unidades de {{camiseta.tamanho}} disponíveis.
            </div>
            {% endif %}
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.participante) }}
            {{ wtf.form_field(form.camiseta) }}
            <center>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </center>

        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}
