<!DOCTYPE html>
<!-- this will be the main template for other pages -->
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='secomp.png')}}" type="image/x-icon"/>
        <link rel="icon" href="{{url_for('static', filename='secomp.png')}}" type="image/x-icon"/>
        <link href="{{url_for('static', filename='css/select2.css')}}" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
        <script src="{{url_for('static', filename='js/select2.js')}}"></script>
        <script src="{{url_for('static', filename='js/pt-BR.js')}}" type="typescript"></script>
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>SECOMP UFSCar</title>

        {% endif %}
    </head>

    <body>


      {% block content %}
                {% endblock %}


      <!-- bootstrap javascript -->
      <script src="{{url_for('static', filename='js /jquery-3.3.1.slim.min.js')}}"></script>
        <!-- bootstrap javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
