{# TODO #}
{# Corrigir o footer #}
{# Base.html #}
{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="pt-br" {% endblock %}
{% block head %}
{% block metas %}
{{ super() }}
<meta charset="utf-8"/>
<meta name="description" content="{{secompEdition}} Semana da Computação UFSCar"/>
<meta name="organization" content="SECOMP UFSCar"/>
{% endblock %}

{% block title %}SECOMP UFSCar {{secompEdition}}{% endblock %}
{# styles globais #}
{% block styles %}
{# Super block isn't working for the extention #}
<link href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('.static', filename='bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('.static', filename='bootstrap/css/bootstrap-reboot.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoTest.png') }}"/>
{% endblock %}
{% endblock %}

{% block body %}
<div class="container">
	{% block navbar %}
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				{# Marca d'água para a home  #}
				<a class="navbar-brand mr-auto" href="{{ url_for('index') }}"><img src="" width="" height="" alt="Logo atual da SECOMP"/></a>
				{# TODO mudar o aria label#}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItens" aria-controls="navbarItens" aria-expanded="false" aria-label="Toggle navigation"></button>
				<div class="collapse navbar-collapse" id="navbarItens">
					{# TODO colocar uma lógica Jinja para active...? #}
					{# TODO colocar uma lógica Jinja para usuário logado? #}
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('index') }}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
						</li>
						{# TODO adicionar eventos, a secomp, equipe (caravanas, patrocínio?) #}
					</ul>
				</div>
			</nav>
		</div>
	</header>
	{% endblock %}
	{% block content %}

	{% endblock %}

	{# Rascunho de rodapé #}
	{% block footer %}
	<footer class="page-footer font-small secondary pt-4">
		<div class="container center">
			<div class="col-md-6 mt-md-0 mt-3">
				{# Expandir variável secomp com nome dos membros #}
				<p>Desenvolvido por {{ secomp }}<br/></p>
				{# Expandir variável para o email da secomp #}
				<a href="mailto:{{ secomp_email }}">{{ secomp_email }}</a><br/>
				{# Expandir variável para mantenedores atuais #}
				<p>Atualmente mantido por {{ secomp_now }}</p><br/>
				<hr/><br/>
				<p>Universidade Federal de São Carlos</p><br/>
				<p>Departamento de Computação</p><br/>
				<p>Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara 
				- São Carlos/SP - CEP 13565-905</p><br/>
			</div>
		</div>
	</footer>
	{% endblock %}
	{% endblock %}


