{# Base.html #}
{% extends "bootstrap/base.html" %}
{# TODO: navbar ajeitar a maneira collapsed da navbar #}

{% block html_attribs %} lang="pt-br" {% endblock %}
{% block head %}
{% block metas %}
{{ super() }}
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="description" content="{{secompEdition}} Semana da Computação UFSCar"/>
<meta name="organization" content="SECOMP UFSCar"/>
{% endblock %}

{% block headscripts %}
<script defer src="{{ url_for('static', filename='fa/all.js') }}"></script>
{% endblock %}

<title>{% block title %}SECOMP UFSCar {{secompEdition}}{% endblock %}</title>
{# styles globais #}
{% block styles %}
<link href="{{ url_for('static', filename='bs/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='bs/css/bootstrap-grid.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='bs/css/bootstrap-reboot.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='fa/css/all.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoTest.png') }}"/>
{% endblock %}
{% endblock %}

{% block body %}
{% block navbar %}
<header>
    <nav class="navbar shadow fixed-top navbar-expand-lg bg-gradient-secomp">
        <div class="container-fluid">
            {# Marca d'água para a home  #}
            <a class="navbar-brand ml-auto" href="{{ url_for('index') }}"><img id="nav-logo" src="{{ url_for('static', filename='images/logoTest.png') }}" width="30" height="30" alt="Logo atual da SECOMP"/></a>
            {# TODO mudar o aria #}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItens" aria-controls="navbarItens" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mr-auto navbar-collapse" id="navbarItens">
                {# TODO colocar uma lógica Jinja para active...? #}
                {# TODO colocar uma lógica Jinja para usuário logado? #}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="secomp">
                            SECOMP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('constr') }}">SOBRE O EVENTO</a>
                            <a class="dropdown-item" href="{{ url_for('constr') }}">EQUIPE</a>
                            {# Colocar como um link separado? #}
                            <a class="dropdown-item" href="{{ url_for('constr') }}">CONTATO</a>
                            <a class="dropdown-item" href="{{ url_for('constr') }}">GAMEFICAÇÃO</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="eventos">
                            EVENTOS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('constr') }}">CRONOGRAMA</a>
                            <a class="dropdown-item" href="{{ url_for('constr') }}">CTF</a>
                            <a class="dropdown-item" href="{{ url_for('constr') }}">CHURRASCO</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('constr') }}">FAQ</a>
                    </li>
                    {# TODO adicionar eventos, a secomp, equipe (caravanas, patrocínio?) #}
                </ul>

                {# TODO: Corrigir o espaçamento #}
                <!-- Lado direito da Navbar -->
                <div class="navbar-nav">
                    {# TODO: criar lógica baseada no bd #}
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('dashboard_usuario') }}">Participante</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sair</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">ENTRAR</a>
                    <a class="nav-item nav-link" href="{{ url_for('cadastro') }}">INSCREVER</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

<main>
<div class="content">
    {% block content %}{% endblock %}
</div>
</main>

{# Rascunho de rodapé #}
{% block footer %}
<footer class="navbar small pt-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-left">
                <p class="text-justify">Desenvolvido por Alcides Mignoso, Daniel Moura, Gabriel Alves, Igor Lúcio,
                    Karina Mayumi, Lucas Cruz dos Reis, Marcos Felipe, Matheus Victorello, Nathan Oliveira e Victória De Martini.
                </p>

            </div>
            <div class="col-md-6 align-self-right">
                <p class="text-justify">Mantido por Alcides Mignoso, Daniel Moura, Gabriel Alves, Igor Lúcio,
                    Karina Mayumi, Lucas Cruz dos Reis, Marcos Felipe, Matheus Victorello, Nathan Oliveira e Victória De Martini.
                </p>
                </div>
        </div>
    </div>

    <div class="col-md-12">
        <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://facebook.com/secompufscar" target="blank"><i class="fab fa-lg fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/secompufscar" target="blank"><i class="fab fa-lg fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UChj1pycWmHOJDeJkDf6RraA" target="blank"><i class="fab fa-lg fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/secompufscar" target="blank"><i class="fab fa-lg fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="mailto:{{ secomp_email }}"><i class="fa fa-lg fa-envelope"></i></a></li>
        </ul>
    </div>

	<div class="container">
        <div class="col-md-12 text-center">
            <p>
             Departamento de Computação <br/>
             UFSCar - Universidade Federal de São Carlos <br>  
             Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/ SP - CEP 13565-905
            </p>
        </div>
	</div>
</footer>

<div id="barrinha"></div>
	
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

{% endblock %}
{% endblock %}
