{% extends "base.html" %}
{% import "wtf.html" as wtf %}
{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br><br><br><br><br>
        <center><h3>Cadastro de patrocinadores</h3></center>
        <hr>
        <form method="POST" action="/cadastro-participante">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.nome_empresa) }}
            {{ wtf.form_field(form.logo) }}
            {{ wtf.form_field(form.id_cota) }}
            {{ wtf.form_field(form.link_website) }}
            <center>{{ wtf.form_field(form.ativo_site) }}</center>
            <center><button type="submit" class="btn btn-primary">Cadastrar</button></center>
        </form>
        <br>
    </div>
    <div class="col-md-4"></div>
</div>


{% endblock %}
