{% extends "base.html" %}

{% block content %}

<section id="team" class="pb-5">
    <div class="pad-inicio container">
        <h5 class="section-title text-center h1">TI - EM CONSTRUÇÃO</h5>
        <div class="row justify-content-center">
			{% for nome in secomp_now|sort %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{url_for('static', filename='images/equipe/Nathan.jpg') }}" alt="card image"></p>
                                    <h4 class="card-title">{{ nome }}</h4>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">{{ nome }}</h5>
                                    <p>This is basic card with Nathan on top, title and description.This is basic card with Nathan on top, title and description.This is basic card with Nathan on top, title and description.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% endfor %}
		</div>
    </div>
</section>

{% endblock %}