{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-0" >
	<section id="carrossel" class="carousel slide" data-ride="carousel" data-interval="10000">
		<ol class="carousel-indicators">
			<li data-target="#carrossel" data-slide-to="0" class="active"></li>
			<li data-target="#carrossel" data-slide-to="1"></li>
			<li data-target="#carrossel" data-slide-to="2"></li>
			<li data-target="#carrossel" data-slide-to="3"></li>
			<li data-target="#carrossel" data-slide-to="4"></li>
			<li data-target="#carrossel" data-slide-to="5"></li>
			<li data-target="#carrossel" data-slide-to="6"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid " src="{{url_for('static', filename='images/car1.jpg')}}">
					<div class="carousel-caption d-none d-md-block mb-4">
						<img width="300" height="300" class="img-fluid" src="{{url_for('static', filename='images/logo-colorida.png')}}">
						<h1 class="display-4">Bem vindo a X SECOMP!</h1>
						<h2>Semana da Computação da UFSCar</h2>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car2.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2 ">
									<i class="mr-4 fa fa-10x fa-microphone-alt mb-4"></i> 
							</div>
							<div class="col-1-4 ">
									<h1 class="display-2"> Palestras</h1>
							</div>
						</div>
						<h3 align="justify-content-center"> Todas as palestras da SECOMP são abertas ao público, sem necessidade de inscrição no evento. Entretanto, para receber o certificado de participação, você deve se inscrever em nosso site. </h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2 ">
									<i class="mr-4 fas fa-10x fa-comments"></i>
							</div>
							<div class="col-1-8">
									<h1 class="display-3">Mesas-Redondas</h1>
							</div>
						</div>
						<h3 align="justify-content-center"> As mesas-redondas são abertas a todos os participantes, mas lembre-se que para receber o certificado de participação, você deve realizar a sua inscrição no evento.  </h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2 ">
									<i class="mr-4 fas fa-10x fa-briefcase"></i>
							</div>
							<div class="col-1-6 ">
									<h1 class="display-2">Workshops</h1>
							</div>
						</div>
						<h3 align="justify-content-center">Os workshops são abertos ao público, mas você precisa realizar a inscrição e levar 1kg de alimento não-perecível para cada workshop que participar. Os alimentos recol-2hidos serão doados a instituições de caridade de São Carlos.  </h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2">
									<i class="mr-4 fas fa-10x fa-flag"></i>
							</div>
							<div class="col-1-8">
									<h1 class="display-3">Capture The Flag</h1>
							</div>
						</div>
						<h3 align="justify-content-center"> A SECOMP UFSCar conta com uma competição chamada Capture The Flag (CTF), constituída de desafios que envolvem engenharia reversa, criptografia, computação forense, networking, web hacking e outros temas. </h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2">
									<i class="mr-4 fas fa-10x fa-user-tie"></i>
							</div>
							<div class="col-1-8">
									<h1 class="display-2">Palestras Empresariais</h1>
							</div>
						</div>
						<h3 align="justify-content-center">Venha conhecer mais sobre algumas das maiores empresas de tecnologia da região. De olho em uma vaga de estágio? Essa pode ser a sua chance! </h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
							
						<div class="row desc align-items-center justify-content-center">
							<div class="col-1-2">
									<i class="mr-4 fas fa-10x fa-mouse-pointer"></i>
							</div>
							<div class="col-1-6">
									<h1 class="display-2">Minicursos</h1>
							</div>
						</div>
						<h3 align="justify-content-center"> Os minicursos são planejados para poucas pessoas e com uma pequena duração. Mas fazem muita diferença na forma como o assunto é abordado. Fique ligado(a) em nosso site e não perca essa oportunidade! </h3>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carrossel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="carousel-control-next" href="#carrossel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Próximo</span>
		</a>
	</section>
</div>

<div class="container text-center mt-4 mb-4">
	<h1 class="display-4">SECOMP UFSCar 2019</h1> 
</div>
<div class="text-center text-white mt-4 mb-4 bg-dark">
	<br>
	<h1>SAVE THE DATE</h1>
	<h2 >9 a 13 de setembro</h2>

	<div class="row justify-content-center">
		<div class="col-1">
			<h3>DD</h3>
		</div>
		<div class="col-1">
			<h3>HH</h3>
		</div>
		<div class="col-1">
			<h3>MM</h3>
		</div>
		<div class="col-1">
			<h3>SS</h3>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-1">
			dias
		</div>
		<div class="col-1">
			horas
		</div>
		<div class="col-1">
			min
		</div>
		<div class="col-1">
			seg
		</div>
	</div><br>
</div>
<div class="container text-center mt-4 mb-4">

	<h3>Olha esse teaser da edição anterior!</h3>

	<div id="video" class="embed-responsive embed-responsive-21by9 mt-4 mb-4">
	    <video width="100%" height="100%" controls>
		<source src="{{ url_for('static', filename='media/IX SECOMP UFSCar - Teaser.mp4') }}" type="video/mp4"/>
	    </video>
	    {# TODO: verificar erros de compatibilidade e remover iframe #}
	    <!--iframe width="100%" height="100%" src="{{ url_for('static', filename='media/IX SECOMP UFSCar - Teaser.mp4') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
	</div>

	{# Texto adicional para testar espaçamento #}
{{ lipsum() }}

</div>

<footer class="navbar small pt-5 text-white">
	<div class="container">
		<div class="row">
				<div class="col-md-4">
					<ul class="list-unstyled list-inline social text-center">
						<i class="fas fa-4x fa-calendar-alt"></i>
							<h5><strong>QUANDO?</strong></h5>
								<p><b>09 a 13 de Setembro</b></p>
					</ul>	
			</div>
		
		<div class="col-md-4">
				<ul class="list-unstyled list-inline social text-center">
					<i class="fas fa-4x fa-map-marker-alt"></i>
						<h5><strong>ONDE?</strong></h5>
							<p><b>Anfiteatro Bento Prado Jr. e Departamento de Computação, na Universidade Federal de São Carlos</b></p>
				</ul>
		</div>
	<div class="col-md-4">
			<ul class="list-unstyled list-inline social text-center">
				<i class="fas fa-4x fa-question-circle"></i>
				<h5><strong>DÚVIDAS?</strong></h5>
		<p><b>Consulte mais informações no <a href="/2018/faq">FAQ</a> e, se necessário, entre em contato com a organização</b></p>
				</ul>
	</div>
	</div>
</div>

</footer>
<div class="container text-center mt-4 mb-4">
						<h2>Realização</h2>
		<div class="row">
			<div class="col-md-4">
					<p align="center">
							<img class="w-50 img-fluid" src="{{url_for('static', filename='images/logo-secomp.jpg')}}">	
						</p>
			</div>
			<div class="col-md-4">
					<p align="center">
							<img class="w-50 img-fluid" src="{{url_for('static', filename='images/logo-dc.png')}}">	
						</p>
			</div>
			<div class="col-md-4">
					<p align="center">
							<img class="w-50 img-fluid" src="{{url_for('static', filename='images/logo-ufscar.png')}}">	
						</p>
			</div>
		</div>					
</div>
	


{% endblock %}
