{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-0" >
	<section id="carrossel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carrossel" data-slide-to="0" class="active"></li>
			<li data-target="#carrossel" data-slide-to="1"></li>
			<li data-target="#carrossel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid " src="{{url_for('static', filename='images/car1.jpg')}}">
					<div class="carousel-caption d-none d-md-block mb-4">
						<h1 class="display-4">Bem vindo a X SECOMP!</h1>
						<h2>Semana da Computação da UFSCar</h2>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car2.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
						<h1>Título 2</h1>
						<p>Tellus tempus senectus ante nostra netus, nisl ultrices ultricies tempor gravida, malesuada natoque magnis
							ridiculus, neque porttitor magna. Cras cum risus ut natoque ornare, magnis hymenaeos lorem conubia.</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex align-items-center justify-content-center min-vh-100">
					<img class="w-100 img-fluid" src="{{url_for('static', filename='images/car3.jpg')}}">
					<div class="carousel-caption d-none d-md-block">
						<h1>Título 3</h1>
						<p>Tellus tempus senectus ante nostra netus, nisl ultrices ultricies tempor gravida, malesuada natoque magnis
							ridiculus, neque porttitor magna. Cras cum risus ut natoque ornare, magnis hymenaeos lorem conubia.</p>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carrossel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carrossel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</section>
</div>

<div class="container text-center mt-4 mb-4">
	
	
	<h1 class="display-5">SECOMP UFSCar 2019</h1> 

	<h3>Olha esse teaser da edição anterior!</h3>

	<div id="video" class="mt-4 mb-4">
			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZmH_fsMjb-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	{# Texto adicional para testar espaçamento #}
	{{ lipsum() }}
</div>

{% endblock %}