{% extends "base.html" %}
{% block content %}
<style>
  .bloco-oculto{
    visibility: hidden;
  }
  #menu_inscricao, #menu_kit, #menu_gameficacao{
    padding-right: 15px;
    padding-left: 15px;
    font-size:30px;
}
  #info-inscricao, #info-gameficacao, #info-kit{
    display: none;
  }
  .navbar{
    background-color: #d9d9d9;
  }
  .navbar-brand{
    color:black;
  }

}
</style>
<h2>{{info_evento.titulo}}</h2>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" id="menu_inscricao" href="#">Minha Inscrição</a>
  <a class="navbar-brand" id="menu_kit" href="#">Kit</a>
  <a class="navbar-brand" id="menu_gameficacao" href="#">Gameficação</a>
</nav><br>
  <div id="conteudo">
  </div>
  <div id="info-inscricao">ID: 4jn33n2uo32nkmjlfekef<br>
    QR CODE: <br>
    realizada_em: {{ info_evento.data_inscricao }} <br>
    Presenças:
    {% for atividade in info_evento.atividades %}
        {{ atividade }},
    {% endfor %}
  </div>
  <div id="info-kit">
    Pago:
    {% if info_evento.kit_pago == True: %}
      Sim
    {% else: %}
      Não
    {% endif %}
    <br>
    Camiseta: {{ info_evento.camiseta }} <br>
    Opção do Coffee: {{ info_evento.opcao_coffee }}
  </div>
  <div id="info-gameficacao">
    Score: {{ info_evento.score_geral }}
  </div>

  <script>
  $('#conteudo').html($('#info-inscricao').html());
  $('#menu_inscricao').css("background-color", "black");
  $('#menu_inscricao').css("color", "white");
    $('#menu_inscricao').click(function() {
      $('#menu_inscricao').css("background-color", "black");
      $('#menu_inscricao').css("color", "white");
      $('#menu_kit').css("background-color", "transparent");
      $('#menu_kit').css("color", "black");
      $('#menu_gameficacao').css("background-color", "transparent");
      $('#menu_gameficacao').css("color", "black");
      $('#conteudo').css("display", "none");
      $('#conteudo').html($('#info-inscricao').html());
      $('#conteudo').fadeIn(400);
    });
    $('#menu_kit').click(function() {
      $('#menu_kit').css("background-color", "black");
      $('#menu_kit').css("color", "white");
      $('#menu_inscricao').css("background-color", "transparent");
      $('#menu_inscricao').css("color", "black");
      $('#menu_gameficacao').css("background-color", "transparent");
      $('#menu_gameficacao').css("color", "black");
      $('#conteudo').css("display", "none");
      $('#conteudo').html($('#info-kit').html());
      $('#conteudo').fadeIn(400);
    });
    $('#menu_gameficacao').click(function() {
      $('#menu_gameficacao').css("background-color", "black");
      $('#menu_gameficacao').css("color", "white");
      $('#menu_inscricao').css("background-color", "transparent");
      $('#menu_inscricao').css("color", "black");
      $('#menu_kit').css("background-color", "transparent");
      $('#menu_kit').css("color", "black");
      $('#conteudo').css("display", "none");
      $('#conteudo').html($('#info-gameficacao').html());
      $('#conteudo').fadeIn(400);
    });
  </script>
{% endblock %}
