{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<style>
  body{
    padding:50px;
  }
</style>
<form action="/login" method="POST">
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.senha) }}
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form><br>
<a href="esqueci-senha">Esqueci minha senha</a>
{% endblock %}
