{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container">
    <form action="/login" method="POST">
	<div class="col mx-auto">
	    {{ form.hidden_tag() }}
	    {{ wtf.form_field(form.email) }}
	    {{ wtf.form_field(form.senha) }}
	    <div class="form-group row">
		<div class="col-4">
		    <button name="submit" type="submit" class="btn btn-primary">Login</button>
		</div>
	    </div>
	</div>
    </form><br>
    <a href="esqueci-senha">Esqueci minha senha</a>
</div>
{% endblock %}

{% block footer %}{% endblock %}
