{% extends "participante/sidebar.html" %}

{% block sidebar_content %}

<div class="container">

    <div class="row justify-content-center pt-1">
        <div class="col-md-12 text-center">
            <h2>Kit</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if participante.pacote: %}
            <table class="table table-borderless">
                <thead class="bg-dark">
                    <tr>
                        <th scope="col">Kit</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Pago</th>
                        <td>{% if participante.kit_pago == True: %}
                            Sim
                            {% else: %}
                            Não<br>
                            <a href="{{ url_for('participante.envio_comprovante') }}">
                                Enviar comprovante</a>
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Camiseta</th>
                        <td>{{ participante.camiseta.tamanho }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Opção do Coffee</th>
                        <td>{{ participante.opcao_coffee }}</td>
                    </tr>
                </tbody>
            </table>
            {% else: %}
            <div class="row justify-content-center align-items-center" style="min-height: 60vh;">
                <div class="col-md-6">
                    <button onclick="location.href='comprar-kit'" type="button" class="btn btn-primary btn-block p-3">
                        <h5>Adquirir kit</h5>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}