{% extends "participante/sidebar.html" %}
{% import "wtf.html" as wtf %}

{% block sidebar_content %}

<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row justify-content-center pt-1 pb-3">

        <div class="col-md-8">

            <h2 class="text-center" style="margin-top:20%;font-family: Hacker;"><img style="height: 70px; width:70px;"
                    src="{{url_for('static', filename='images/flag.png')}}">Submissão de flags</h2>

            <form action="{{url_for('participante.submeter_flag')}}" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.flag) }}
                {{ wtf.form_field(form.recaptcha) }}

                {% if status != None %}
                <h5 style="font-family: Hacker; color: red;">Flag {{ status }}! </h5>
                {% endif %}

                <h5 style="font-family: Hacker;">Sua pontuação: {{ participante.pontuacao }}</h5>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>

                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}
